<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Login-->
  <category label="30000">
    <setting id="username" type="text" label="30001" default=""/>
    <setting id="password" type="text" label="30002" option="hidden" default=""/>
    <setting id="session_key" type="text" label="30003" default="" visible="false"/>
  </category>
</settings>

