.gitignore
.eric6project/
_eric6project/
.eric5project/
_eric5project/
.eric4project/
_eric4project/
.ropeproject/
_ropeproject/
.directory/
*.pyc
*.pyo
*.orig
*.bak
*.rej
*~
cur/
tmp/
__pycache__/
*.DS_Store
__init__.py
notifier.e4p
*.zip

