<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
        <setting label="32011" type="text"   id="email" default=""/>
        <setting label="32012" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting type="sep"/>
    </category>
    <category label="32024">
    	<setting label="32025" type="number" id="max_feed_len" default="10"/>
    </category>
</settings>