<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="sab_host" type="text" label="20000" default="localhost"/>
    <setting id="sab_port" type="text" label="20001" default="8080"/>
    <setting id="sab_key" type="text" label="20006" default=""/>
    <setting id="sab_user" type="text" label="20002" default=""/>
    <setting id="sab_pass" type="text" label="20003" default=""/>
    <setting type="sep" />
    <setting id="sab_wol" type="bool" label="20007" default="false" />
    <setting id="sab_mac" type="text" label="20008" default="00:00:00:00:00:00"/>
    <setting type="sep" />
    <setting id="cache_rss" type="bool" label="20005" default="true" />
    <setting id="cache_time" type="labelenum" label="20004" values="2|5|10|15|30" default="10"/>
    <setting type="sep" />
    <setting id="imdb_info_fetch" type="bool" label="30001" default="false" />
    <setting id="imdb_poster_fetch" type="bool" label="30002" default="false" />
    <setting id="poster_size" type="enum" lvalues="30004|30005|30006" label="30003" default="2" />
    <setting type="sep" />
    <setting id="tvdb_info_fetch" type="bool" label="30016" default="false" />
    <setting id="tvdb_poster_fetch" type="bool" label="30017" default="false" />
    <setting id="tvdb_fanart_fetch" type="bool" label="30018" default="false" />
    <setting type="sep" />
    <setting id="newzbin_show" type="bool" label="30000" default="true" />
    <setting id="username_newzbin" type="text" label="30020" default=""/>
    <setting id="password_newzbin" type="text" label="30021" default=""/>
    <setting type="sep" />
    <setting id="nzbsrus_show" type="bool" label="30010" default="false" />
    <setting id="nzbsrus_id" type="text" label="30014" default="" />
    <setting id="nzbsrus_hash" type="text" label="30015" default="" />
    <setting type="sep" />
    <setting id="nzbs_show" type="bool" label="30008" default="true" />
    <setting id="nzbs_id" type="text" label="30022" default=""/>
    <setting id="nzbs_hash" type="text" label="30023" default=""/>
    <setting type="sep" />
    <setting id="nzbmatrix_show" type="bool" label="30009" default="false" />
    <setting id="nzbmatrix_id" type="text" label="30024" default=""/>
    <setting id="nzbmatrix_key" type="text" label="30025" default=""/>
    <setting id="nzbmatrix_english" type="enum" lvalues="106|107" label="30026" default="0" />
    <setting type="sep" />
    <setting id="binsearch_show" type="bool" label="30007" default="true" />
    <setting id="nzbindex_show" type="bool" label="30011" default="true" />
    <setting id="custom_show" type="bool" label="30012" default="true" />
    <setting type="sep" />
    <setting id="cat_prompt" type="bool" label="30013" default="false" />
    <setting type="sep" />
</settings>
