<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="country" type="select" lvalues="30011|30012|30013|30014" label="30010" default="0" />
    <setting type="sep" />
    <setting id="wakanim_username" type="text" label="30001" default=""/>
    <setting id="wakanim_password" type="text" label="30002" option="hidden" default=""/>
    <setting type="sep" />
    <setting id="sync_playtime" type="bool" label="30004" default="true"/>
    <setting id="inputstream_adaptive" type="action" label="30003" option="close" action="RunPlugin(plugin://plugin.video.wakanim/?mode=mpd)"/>
</settings>
