<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category>
        <setting label="10000" type="number" id="channel" default="0" visible="false"/>
        <setting label="10000" type="number" id="page" default="0" visible="false"/>
        <setting label="10000" type="text" id="current" visible="false"/>
    </category>
</settings>
