<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Main Menu-->
    <category label="30223">
        <setting id="all_chan_visible" type="bool" label="30224" default="true" />
        <setting id="next_airings_visible" type="bool" label="30100" default="true" />
        <setting id="trending_visible" type="bool" label="30228" default="true" />
        <setting id="myshows_visible" type="bool" label="30215" default="true" />
        <setting id="fav_visible" type="bool" label="30216" default="true" />
        <setting id="live_visible" type="bool" label="30217" default="true" />
        <setting id="sports_visible" type="bool" label="30218" default="true" />
        <setting id="movies_visible" type="bool" label="30108" default="true" />
        <setting id="kids_visible" type="bool" label="30219" default="true" />
        <setting id="recent_visible" type="bool" label="30220" default="true" />
        <setting id="featured_visible" type="bool" label="30221" default="true" />
        <setting id="search_visible" type="bool" label="30222" default="true" />
        <!-- Hidden -->
        <setting id="EPGreqPayload" type="text" default="" visible="false"/>
        <setting id="reqPayload" type="text" default="" visible="false"/>
        <setting id="last_auth" type="text" default="" visible="false"/>
        <setting id="last_export" type="text" default="2018-01-01T12:00:00.999Z" visible="false"/>
        <setting id="deviceId" type="text" default="" visible="false"/>
        <setting id="npsso" type="text" default="" visible="false"/>
        <setting id="default_profile" type="text" default="" visible="false"/>
        <setting id="movie_genre_id" type="text" default="0" visible="false"/>
        <setting id="movie_genre_name" type="text" default="All" visible="false"/>
    </category>

    <!--Login-->
    <category label="30000">
      <setting id="username" type="text" label="30001" default=""/>
      <setting id="password" type="text" label="30002" option="hidden" default=""/>
      <setting id="logout" type="action" label="30003" action="RunPlugin(plugin://plugin.video.psvue/?mode=999)" option="close" />
      <setting type="action" label="30005" action="RunPlugin(plugin://plugin.video.psvue/?mode=1000)" option="close" />
    </category>
    <!--Profile-->
    <category label="30212">
        <setting type="action" label="30004" action="RunPlugin(plugin://plugin.video.psvue/?mode=800)" option="close" />
        <setting id="always_ask_profile" type="bool" label="30213" default="false" />
        <setting id="library_folder" type="folder" label="30225" default="special://profile/addon_data/plugin.video.psvue" source="files" option="writeable" />
        <setting id="library_update" type="slider" label="30226" default="4" range="4,4,48" option="int" />
    </category>
    <!--Playback-->
    <category label="30300">
        <setting id="inputstream_adaptive" type="bool" label="30310" default="true" />
        <setting id="alt_stream" type="bool" label="30320" default="false" />
    </category>
    <!--EPG-->
    <category label="30330">
        <setting id="disable_epg" type="bool" label="30337"  default="true"/>
        <setting id="epg_on_start" type="bool" label="30334"  default="false" enable="eq(-1,false)"/>
        <setting id="epg_days" type="slider" label="30335" default="2" range="1,1,7" option="int" enable="eq(-2,false)"/>
        <setting id="epg_interval" type="slider" label="30336" default="1" range="1,1,24" option="int" enable="eq(-3,false)"/>
        <setting id="custom_directory" type="bool" label="30331"  default="false" enable="eq(-4,false)"/>
        <setting id="location" type="folder" label="30332"  default="special://profile/addon_data/plugin.video.psvue" source="files" option="writeable" enable="eq(-5,false) + eq(-1,true)"/>
        <setting type="action" label="30333" action="RunPlugin(plugin://plugin.video.psvue/?mode=997)" option="close" enable="eq(-6,false)"/>
    </category>
</settings>
