<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--Channels-->
    <category label="30100">
        <setting id="101 TV" label="30101" type="bool" default="true" />
        <setting id="Best 24" label="30102" type="bool" default="true" />
        <setting id="Cultura 24" label="30104" type="bool" default="true" />
        <setting id="Familie 24 / Z@ppelin" label="30105" type="bool" default="true" />
        <setting id="Holland Doc 24" label="30107" type="bool" default="true" />
        <setting id="Humor TV 24" label="30108" type="bool" default="true" />
        <setting id="Journaal 24" label="30109" type="bool" default="true" />
        <setting id="Politiek 24" label="30110" type="bool" default="true" />
<!--        <setting id="Laatste Achtuurjournaal" label="30113" type="bool" default="true" />-->
<!--        <setting id="Journaal 24 alternative" label="30114" type="bool" default="false" />-->
<!--        <setting id="Politiek 24 alternative" label="30115" type="bool" default="false" />-->
    </category>
    <!--Bandwith-->
    <category label="30200">
        <setting id="smallband" label="30201" type="bool" default="false" />
        <setting id="GEOIP" label="30202" type="bool" default="false" />
    </category>    
</settings>

