<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--Channels-->
    <category label="30100">
        <setting id="NPO 101" label="30101" type="bool" default="true" />
        <setting id="NPO Best" label="30102" type="bool" default="true" />
        <setting id="NPO Cultura" label="30104" type="bool" default="true" />
        <setting id="NPO Zapp Xtra" label="30105" type="bool" default="true" />
        <setting id="NPO Doc" label="30107" type="bool" default="true" />
        <setting id="NPO Humor TV" label="30108" type="bool" default="true" />
        <setting id="NPO Nieuws" label="30109" type="bool" default="true" />
        <setting id="NPO Politiek" label="30110" type="bool" default="true" />
        <setting id="NPO 1" label="30111" type="bool" default="true" />
        <setting id="NPO 2" label="30112" type="bool" default="true" />
        <setting id="NPO 3" label="30113" type="bool" default="true" />
        <setting id="NPO Radio 1" label="30115" type="bool" default="false" />
        <setting id="NPO Radio 2" label="30116" type="bool" default="false" />
        <setting id="NPO 3FM" label="30117" type="bool" default="false" />
        <setting id="Depth_Acht" label="30151" type="slider"  default="1" range="0,1,10" option="int" />
        <setting id="Depth_Jeugd" label="30152" type="slider"  default="1" range="0,1,10" option="int" />
    </category>
    <!--Bandwith-->
    <category label="30200">
        <setting id="GEOIP" label="30202" type="bool" default="false" />
    </category>    
</settings>

