<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30101" type="bool" id="useCouch" default="false" />
        <setting label="30102" type="text" id="couchUsername" enable="eq(-1,true)"  default="" />
        <setting label="30103" type="text" id="couchPassword" option="hidden" enable="!eq(-1,)+eq(-2,true)" default="" />
    </category>
</settings>