<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30001">
    <setting id="source2" type="enum" label="30050" values="rbb|MDR" default="0" />
    <setting id="quality2" type="enum" label="30010" values="auto|480x270|640x360|960x540|1280x720|1920x1080" default="0" />
    <setting id="dgs2" type="enum" label="30040" lvalues="30041|30042|30043" default="0" />
    <setting type="lsep" label="30020" />
    <setting id="update2" type="enum" label="30020" lvalues="30102|30103|30104" default="1" />
    <setting id="interval2" type="slider" label="30030" subsetting="true" default="24" range="1,24" option="int" visible="eq(-1,0)" />
  </category>
</settings>
