<?xml version ="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="rpp" type="labelenum" label="30008" values="20|40|60|80|100" default="40"/>
    <setting id="limitpages" type="bool" label="30009" default="false"/>    
    <setting id="maxpages" type="labelenum" label="30010" enable="eq(-1,true)" subsetting="true" values="5|10|15|20|25" default="10"/>
    <setting id="imgsize" type="labelenum" label="30011" values="4|5|6|20|21|30|31|1080|1600|2048" default="4"/>
    <setting id="tmbsize" type="labelenum" label="30012" values="1|2|3|100|200|440|600" default="2"/>
    <setting id="tmbfolders" type="bool" label="30013" default="false"/> 
  </category>
  <category label="30020">
  	<setting id="username" type="text" label="30021" default=""/>
  </category>
</settings>
