<settings>
   <setting id="minLength" type="enum" label="30103" values="0|5|10|20|30" default="2"/>
   <setting id="useThumbAsFanart" type="bool" label="30104" default="true"/>
   <setting id="forceViewMode" type="bool" label="30101" default="true"/>
   <setting id="viewMode" type="number" label="30102" default="500"/>
</settings>
