<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <!--<category label="30100">
 </category>-->
 <category label="30101">
  <!--<setting id="tv3_showads" type="bool" label="30002" default="true" />-->
  <setting id="TV3_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High"/>
  <setting id="TV3_folders" type="bool"      label="30001" default="true" />
 </category>
 <category label="30102">
  <setting id="TVNZ_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High"/>
  <setting id="TVNZ_showads" type="bool"      label="30002" default="false"/>
 </category>
 <category label="30103">
  <setting id="Ziln_hide" type="bool" label="30021" default="false"/>
 </category>
 <!--<category label="30104">
  <setting id="iSKY_hide" type="bool" label="30021" default="false"/>
 </category>-->
 <category label="30105">
  <setting id="Parliament_hide" type="bool" label="30021" default="false"/>
  <setting id="Parliament_quality" type="labelenum" label="30010" values="High|Medium|Low"                      default="High"/>
  <!--<setting id="Parliament_stream"  type="labelenum" label="30020" values="Apple Quicktime|Windows Media Player" default="Windows Media Player"/>-->
 </category>
 <category label="30106">
  <setting id="Shine_hide" type="bool" label="30021" default="false"/>
  <setting id="Shine_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High"/>
 </category>
</settings>
