<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
 <!--<category label="30100">
  <setting id="All_quality_channel" type="bool" label="30022" default="false" />
  <setting id="All_quality_play" type="bool" label="30023" default="false" visible="eq(-1,true)" />
  <setting id="All_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High" visible="eq(-1,false) + eq(-2,true)" />
 </category>-->
 <category label="30101">
  <!--<setting id="TV3_hide" type="bool" label="30021" default="false" />-->
  <!--<setting id="TV3_showads" type="bool" label="30002" default="true" />-->
  <setting id="TV3_folders" type="bool"      label="30001" default="true" />
  <setting id="TV3_prefetch" type="bool"      label="30025" default="false" />
  <setting id="TV3_quality_choose" type="bool" label="30023" default="false" />
  <setting id="TV3_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High" visible="eq(-1,false)" />
 </category>
 <category label="30102">
  <!--<setting id="TVNZ_hide" type="bool" label="30021" default="false" />-->
  <!--<setting id="TVNZ_showads" type="bool"      label="30002" default="false" />-->
  <setting id="TVNZ_prefetch" type="bool"      label="30025" default="true" />
  <setting id="TVNZ_quality_choose" type="bool" label="30023" default="false" />
  <setting id="TVNZ_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High" visible="eq(-1,false)" />
 </category>
 <category label="30107">
  <!--<setting id="ChoiceTV_hide" type="bool" label="30021" default="false" />-->
  <setting id="ChoiceTV_prefetch" type="bool"      label="30025" default="false" />
 </category>
 <category label="30103">
  <!--<setting id="Ziln_hide" type="bool" label="30021" default="false" />-->
  <setting id="Ziln_prefetch" type="bool"      label="30025" default="false" />
 </category>
 <!--<category label="30104">
  <setting id="iSKY_hide" type="bool" label="30021" default="false" />
 </category>-->
 <category label="30104">
  <!--<setting id="NZOnScreen_hide" type="bool" label="30021" default="false"/>-->
  <setting id="NZOnScreen_prefetch" type="bool"      label="30025" default="false" />
  <setting id="NZOnScreen_quality_choose" type="bool" label="30023" default="false" />
  <setting id="NZOnScreen_quality" type="labelenum" label="30010" values="High|Low" default="High" visible="eq(-1,false)" />
 </category>
 <category label="30110">
  <!--<setting id="Parliament_hide" type="bool" label="30021" default="false"/>-->
  <setting id="Parliament_quality_choose" type="bool" label="30024" default="false" />
  <setting id="Parliament_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High" visible="eq(-1,false)" />
 </category>
 <category label="30111">
  <!--<setting id="Shine_hide" type="bool" label="30021" default="false" />-->
  <setting id="Shine_quality_choose" type="bool" label="30024" default="false" />
  <setting id="Shine_quality" type="labelenum" label="30010" values="High|Medium|Low" default="High" visible="eq(-1,false)" />
 </category>
</settings>
