plugin.audio.soundcloud/.git
plugin.audio.soundcloud/.project
plugin.audio.soundcloud/.pydevproject
plugin.audio.soundcloud/.settings/org.eclipse.core.resources.prefs
plugin.image.icanhascheezburger.com/.git
plugin.image.icanhascheezburger.com/.gitignore
plugin.image.iphoto/.gitignore
plugin.image.iphoto/.git
plugin.program.rtorrent/.git
plugin.program.executor/.git
plugin.video.academicearth/.git
plugin.video.academicearth/.gitignore
plugin.video.eevblog/.git
plugin.video.eevblog/.project
plugin.video.eevblog/.pydevproject
plugin.video.tagesschau/.git
plugin.video.tv3.ondemand/.git
plugin.video.tvnz.ondemand/.git
plugin.video.zoneminder/.git
plugin.video.nrk/.git
plugin.video.nederland24/.git
plugin.video.mediathek/.git
plugin.video.mediathek/.gitignore
plugin.audio.podcatcher/.git
plugin.audio.podcatcher/.gitignore
plugin.audio.podcatcher/icon.xcf
plugin.video.vega/.git
plugin.video.eyetv.parser/.git
plugin.video.xbmcflicks/.git
plugin.video.gamestar/.git
plugin.video.gamestar/.gitignore
plugin.video.revision3/.git
plugin.video.classiccinema/.git
plugin.video.classiccinema/.gitignore
plugin.video.raiclick/.git
plugin.audio.relive/.git
plugin.audio.modland/.git
plugin.video.svtplay/.git
plugin.video.pbs/.git
plugin.video.googletechtalks/.git
plugin.video.googletechtalks/.gitignore
plugin.video.nz.ondemand/.git
plugin.video.yahoo.trailershd/.git
plugin.audio.abradio.cz/.git
plugin.audio.abradio.cz/install.sh
plugin.video.putio/.git
plugin.video.putio/.gitignore
plugin.video.drnu/.git
plugin.video.drnu/.idea
plugin.video.furk/.git
plugin.video.aljazeera/.git
plugin.video.aljazeera/.gitignore
plugin.video.dr.dk.podcast/.git
plugin.video.dr.dk.podcast/.idea
plugin.audio.dr.dk.netradio/.git
plugin.video.dr.dk.live/.git
plugin.video.dr.dk.live/.idea
plugin.video.dmi.dk/.git
plugin.video.khanacademy/.git
plugin.video.khanacademy/.gitignore
plugin.video.giantbomb/.git
plugin.video.giantbomb/.gitignore
