plugin.audio.soundcloud/.git
plugin.audio.soundcloud/.project
plugin.audio.soundcloud/.pydevproject
plugin.audio.soundcloud/.settings/org.eclipse.core.resources.prefs
plugin.image.icanhascheezburger.com/.git
plugin.image.icanhascheezburger.com/.gitignore
plugin.image.iphoto/.gitignore
plugin.image.iphoto/.git
plugin.program.rtorrent/.git
plugin.program.executor/.git
plugin.video.academicearth/.git
plugin.video.academicearth/.gitignore
plugin.video.eevblog/.git
plugin.video.eevblog/.project
plugin.video.eevblog/.pydevproject
plugin.video.tagesschau/.git
plugin.video.tv3.ondemand/.git
plugin.video.tvnz.ondemand/.git
plugin.video.zoneminder/.git
