<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30012" id="section_general">
        <setting id="force_viewmode" type="bool" label="30020" default="false"/>
    </category>
    <category label="30016" id="playback">
        <setting id="ask_trailer" type="bool" label="30011" default="true"/>
        <setting id="ask_quality" type="bool" label="30010" default="false"/>
        <setting id="trailer_quality" type="enum" label="30030" enable="!eq(-1,true)" default="1" lvalues="30031|30035|30036|30037"/>
        <setting type="lsep" />
        <setting id="playback_mode" type="enum" label="30013" default="0" lvalues="30014|30015"/>
        <setting id="trailer_download_path" type="folder" label="30050" source="auto" option="writeable" visible="eq(-1,1)" subsetting="true"/>
        <setting type="lsep" label="30018" subsetting="true" visible="eq(-2,1)"/>
    </category>
    <category label="30017" id="download">
        <setting id="trailer_quality_download" type="enum" label="30040" default="3" lvalues="30031|30035|30036|30037"/>
        <setting id="trailer_download_path" type="folder" label="30050" source="auto" option="writeable"/>
    </category>
    <category label="30266" id="section_couchpotato">
        <setting label="30260" type="bool" id="cp_enable" default="false" />
        <setting label="30263" type="text" id="cp_server" default="localhost" visible="eq(-1,true)"/>
        <setting label="30264" type="text" id="cp_port" default="5000" visible="eq(-2,true)"/>
        <setting label="30265" type="bool" id="cp_use_https" default="false" visible="eq(-3,true)"/>
        <setting label="30261" type="text" id="cp_user" default="" visible="eq(-4,true)"/>
        <setting label="30262" type="text" id="cp_password" default="" enable="!eq(-1,)" visible="eq(-5,true)" option="hidden"/>
    </category>
</settings>