<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30200">
		<setting id="enable_playlists" type="bool" default="true" label="30201"/>
		<setting id="enable_livestreams" type="bool" default="true" label="30208"/>
		<setting id="show_adds" type="bool" default="true" label="30202"/>
		<setting id="result_number" type="slider" default="20" range="5,5,50" option="int" label="30203"/>
		<setting id="result_number_channels" type="slider" default="20" range="5,5,50" option="int" label="30204"/>
		<setting label="30205" type="action" action="RunPlugin(plugin://plugin.video.ytchannels/?mode=erase_all)" enable="true" option="close"/>
	</category>
	<category label="30206">
		<setting id="youtube_api_key" type="text" default="SETME" label="30207"/>
	</category>
</settings>
