<settings>
   <setting id="maxVideoQuality" type="enum" label="30105" values="480p|720p|1080p" default="2"/>
   <setting id="language" type="enum" label="30101" values="International|Argentina|Australia|Belgique (FR)|Belgie (NL)|Brasil|Canada (English)|Canada (Francais)|Deutschland|Espana (ES)|Espana (CA)|Greece|France|India|Ireland|Italia|Mexico|Maroc|Nederland|Oesterreich|Polska|Portugal|Russia|Romania|Suisse (FR)|Schweiz (DE)|Svizzera (IT)|Tunisie|Türkiye|United Kingdom|United States|Viet Nam|Japan|China" default="0"/>
   <setting id="forceViewMode" type="bool" label="30102" default="false"/>
   <setting id="viewMode" type="number" label="30103" default="500"/>
</settings>
