<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="general">
    <setting id="bootscan" type="bool" label="30024" default="true" />
    <setting id="usepicasfanart" type="bool" label="30026" default="true" />
    <setting id="picsext" type="text" label="30023" default="JPG|TIF|PNG|GIF|BMP|JPEG" />
    <setting id="ratingmini" type="enum" lvalues="30041|30042|30043|30044|30045|30046" label="30040" default="0"/>
    <setting type="lsep" label="" /> 
    <setting type="action" label="30027" option="close" action="RunScript(special://home/addons/script.module.dialogaddonscan/lib/DialogAddonScan.py,opensettins)" default="" />
    <!-- <setting type="lsep" label="30020" />         -->
    <!-- le dossier à scanner -->
    <!-- <setting id="scanfolder" type="folder" label="30023" default="c:\" />   -->
    
    <!-- est-ce que le scan doit être récursif -->
    <!-- <setting id="recursive" type="bool" label="30022" default="true" />       -->
    
    <!-- une action pour lancer un scan du dossier maintenant -->
    <!-- ne fonctionne pas car un chemin qui vient d'être configuré n'est pas encore validé par les paramètres -->
    <!-- <setting id="scan" type="action" label="30024" default="RunPlugin($CWD/?action='scan')" /> -->
    
    <!-- retirer de la base les images manquantes -->
    <!-- <setting id="updateDB" type="bool" label="30021" default="false" />        -->
    
    <!-- <setting type="lsep" label="30001" />    -->
  <!-- </category>                                -->
  <!-- <category label="montage">                 -->
    <!-- <setting id="sharepath" type="folder" source="pictures" label="chemin reseau" default="smb://192.168.0.22" />    -->
    <!-- <setting id="sharelogin" type="text" label="login" default="" />                                                -->
    <!-- <setting id="sharepass" type="text" option="hidden" label="password" default="" />                              -->
  </category>
  <category label="debugging">
    <!-- pour recréer la base lors du scan -->
    <setting id="initDB" type="bool" label="30025" default="false" />
  </category>

</settings>
