<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30030">
    <setting id="bootscan" type="bool" label="30024" default="false" />
    <setting id="usepicasfanart" type="bool" label="30026" default="false" /> 
    <setting id="ratingmini" type="enum" lvalues="30041|30042|30043|30044|30045|30046" label="30040" default="0"/>
    <setting id="lastpicsnumber" type="text"  label="30131" default="50" />
    <setting id="recentnbdays" type="text" label="30032" default="10" />
    <setting id="picsperpage" type="text" label="30035" default="1000000" />
    <!-- pour recréer la base lors du scan -->
    <setting type="lsep" label="" />
    <setting id="initDB" type="bool" label="30025" default="false" />
    <setting type="lsep" label="" /> 
    <setting type="action" label="30027" option="close" action="RunScript(special://home/addons/script.module.dialogaddonscan/lib/DialogAddonScan.py,opensettins)" default="" />
  </category>
  
  <category label="30031">
    <setting id="picsext" type="text" label="30023" default="JPG|JPEG|TIF|PNG|GIF|BMP" />
    <setting id="usevids" type="bool" label="30029" default="true" />
    <setting id="vidsext" type="text" label="30028" default="AVI|MPEG|MPG|MKV|MOV|MP2|MP4|FLV" enable="eq(-1,true)"/>
  </category>

  <category label="30033">
    <setting id="m_all" type="bool" label="30034" default="true" />
    <setting id="m_1" type="bool" label="30209" enable="eq(-1,false)" default="true"/>
    <setting id="m_2" type="bool" label="30130" enable="eq(-2,false)" default="true"/>
    <setting id="m_3" type="bool" label="30051" enable="eq(-3,false)" default="true"/>
    <setting id="m_13" type="bool" label="30120" enable="eq(-4,false)" default="true"/>
    <setting id="m_14" type="bool" label="30122" enable="eq(-5,false)" default="true"/>
    <setting id="m_4" type="bool" label="30101" enable="eq(-6,false)" default="true"/>
    <setting id="m_5" type="bool" label="30102" enable="eq(-7,false)" default="true"/>
<!--    
    <setting id="m_6" type="bool" label="30103" enable="eq(-6,false)" default="true"/>
    <setting id="m_7" type="bool" label="30097" enable="eq(-7,false)" default="true"/>
    <setting id="m_8" type="bool" label="30095" enable="eq(-8,false)" default="true"/>
-->    
    <setting id="m_9" type="bool" label="30093" enable="eq(-8,false)" default="true"/>
    <setting id="m_10" type="bool" label="30105" enable="eq(-9,false)" default="true"/>
    <setting id="m_11" type="bool" label="30150" enable="eq(-10,false)" default="true"/>
    <setting id="m_12" type="bool" label="30098" enable="eq(-11,false)" default="true"/>
  </category>
  <category label="30650">
    <!-- pour recréer la base lors du scan -->
    <setting id="debugging" type="bool" label="30651" default="false" />
  </category>
  <category label="30660">
    <setting label="30661" type="labelenum" id="service" lvalues="30662"/> <!--|30663"/>-->
    <!--<setting type="lsep" label="30662" /> -->
    <setting id="db_name_sqlite" type="text" label="30669" default="MyPicsDB" enable="eq(-1,0)"/>    
    <setting id="db_name" type="text" label="30668" default="MyPicsDB" enable="eq(-2,1)"/>
    <setting id="db_user" type="text" label="30664" default="XBMC" enable="eq(-3,1)"/>
    <setting id="db_pass" type="text" label="30665" default="XBMC" enable="eq(-4,1)"/>
    <setting id="db_address" type="text" label="30666" default="127.0.0.1" enable="eq(-5,1)"/>
    <setting id="db_port" type="text" label="30667" default="3306" enable="eq(-6,1)"/>
    
  </category>  
</settings>
