<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category>
		<!-- ViewModes -->
		<setting label="$ADDON[script.module.xbmcutil 32921]" type="action" action="RunScript(plugin.video.engineeringtv, setViewMode, folder)"/>
		<setting label="$ADDON[script.module.xbmcutil 32922]" type="action" action="RunScript(plugin.video.engineeringtv, setViewMode, video)"/>
		<!-- Disable Caching -->
		<setting type="sep" />
		<setting id="disable-cache" type="bool" label="$LOCALIZE[24021] $LOCALIZE[439]" default="false"/>
	</category>
</settings>