<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="128">
        <setting label="$LOCALIZE[439]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32002]" type="enum" id="cache_details_days" values="14|21|30|60" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32003]" type="enum" id="cache_list_days" values="1|2|3|4|5|6|7|14|21|30" />
        <setting label="$LOCALIZE[248]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32004]" type="text" id="mpaa_prefix" default="Rated "/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32005]" type="select" id="language" lvalues="30000|30001|30002|30003|30004|30005|30006|30007|30008|30009|30010|30011|30012|30013|30014|30015|30016|30017|30018|30019|30020|30021|30022|30023|30024|30025|30026|30027|30028|30029|30030|30031|30030|30033|30034|30035|30036|30037|30038|30039|30040|30041|30042|30043|30044|30045|30046|30047|30048|30049|30050|30051|30052|30053|30054|30055|30056|30057|30058|30059|30060|30061|30062|30063|30064|30065|30066|30067" default="18" />
        <setting label="$LOCALIZE[14230]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32023]" type="enum" id="select_action" lvalues="1024|32022" default="0" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32039]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32038]" type="bool" id="local_db" default="false" />
    </category>
    <category label="$ADDON[plugin.video.themoviedb.helper 32017]">
        <setting label="$ADDON[plugin.video.themoviedb.helper 32029]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32001]" type="text" id="omdb_apikey" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32030]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32019]" type="text" id="fanarttv_clientkey" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32021]" type="bool" id="fanarttv_lookup" default="false" subsetting="true" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32028]" type="bool" id="widget_fanarttv_lookup" default="false" subsetting="true" enable="eq(-1,True)" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32031]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32010]" type="action" action="RunScript(plugin.video.themoviedb.helper, authenticate_trakt)" option="close" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32034]" type="bool" id="trakt_watchedindicators" default="false" subsetting="true"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32035]" type="bool" id="trakt_unwatchedcounts" default="false" subsetting="true" enable="eq(-1,True)"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32013]" type="bool" id="trakt_management" default="false" subsetting="true"/>
    </category>
    <category label="$ADDON[plugin.video.themoviedb.helper 32014]">
        <setting label="$ADDON[plugin.video.themoviedb.helper 32032]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32016]" type="action" action="RunScript(plugin.video.themoviedb.helper, update_players)" id="players_url" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32033]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32024]" type="action" action="RunScript(plugin.video.themoviedb.helper, set_defaultplayer=movie)" id="default_player_movies" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32025]" type="action" action="RunScript(plugin.video.themoviedb.helper, set_defaultplayer=tv)" id="default_player_episodes" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32027]" type="action" action="RunScript(plugin.video.themoviedb.helper, clear_defaultplayers)" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32036]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32037]" type="bool" id="bundled_players" default="True" />
    </category>
    <category label="$LOCALIZE[10039]">
        <setting label="$ADDON[plugin.video.themoviedb.helper 32020]" type="lsep"/>
        <setting label="$ADDON[plugin.video.themoviedb.helper 32000]" type="text" id="tmdb_apikey" />
        <setting label="$ADDON[plugin.video.themoviedb.helper 32018]" type="text" id="fanarttv_apikey" />
    </category>
</settings>
