<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <!-- Will contain the pcloud auth string, but is only set programmatically -->
        <setting label="30105" type="text" id="auth" visible="false" default=""/>
        <setting label="30106" type="text" id="authExpiry" visible="false" default=""/>
        <!-- Last used folder ID -->
        <setting label="30112" type="text" id="lastUsedFolderID" visible="false" default="0"/>
        <setting label="PCloud API URL" type="labelenum" id="pcloudApiUrl" 
            values="https://api.pcloud.com/|https://eapi.pcloud.com/"
            default="https://api.pcloud.com/"/>
    </category>
</settings>
