<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>		
	<!-- General -->
	<category label="30100">
 	 <!-- Play|Download|Ask  -->
	 <setting id="select_action" type="labelenum" label="30110" lvalues="30130|30140|30120"/>
	 <setting id="subtitles" type="bool" label="30160" default="false"/>
	</category>

	  <!-- Proxy -->
        <category label="30307">
         <!-- None|Proxy for HTTP|Proxy for HTTP and RTMP -->
         <setting id="4oD_proxy_method" label="30360" type="enum" values="None|Forwarded IP|Proxy for HTTP|Proxy for HTTP and Streams" default="0" />
         <setting type="sep"/>
         <setting id="proxy_type" label="30315" type="enum" values="HTTP|HTTP (Tunneled)|SOCKS4|SOCKS5" enable="gt(-2,0)" default="0" />
         <setting id="proxy_server" label="30320" type="text" enable="gt(-3,0)" default="" />
         <setting id="proxy_port" label="30330" type="number" enable="gt(-4,0)" default="" />
         <setting id="proxy_user" label="30340" type="text" enable="gt(-5,0)" />
         <setting id="proxy_pass" label="30350" type="text" option="hidden" enable="gt(-6,0)" />
	</category>

	<!-- Downloads -->
	<category label="30200">
	 <setting id="rtmpdump_path" type="file" label="30210" default=""/>
	 <setting id="download_folder" type="folder" label="30220" default=""/>
	 <setting id="ask_folder" type="bool" label="30230" default="false"/>
	 <setting id="ask_filename" type="bool" label="30240" default="false"/>
	</category>

	<!-- Advanced -->
	<category label="30400">
	 <setting id="socket_timeout" type="number" label="30420" default="0"/>
	 <setting id="http_cache_disable_adv" label="30170" type="bool" default="false" />
	 <setting id="rtmp_port_alt" label="30503" type="bool" default="false" />
	 
     <setting type="sep"/>
     <setting id="resume_enabled" label="30490" type="bool" default="true" />
     <setting id="resume_days_to_keep" label="30450" type="number" default="40" enable="eq(-1,true)" />
     <setting id="playaction" label="30470" type="enum" values="Resume|Play from start" default="0"  enable="eq(-2,true)" />
     
     <setting type="sep"/>
     <setting id="show_watched" label="30501" type="bool" default="false"/>
     <setting id="watched-percent" label="30502" type="enum" values="70[B] %[/B]|80[B] %[/B]|90[B] %[/B]" default="2" />
	</category>
</settings>
