<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>		
	<!-- General -->
	<category label="30100">
	 <setting id="select_action" type="labelenum" label="30110" default="30120" values="Ask|Play|Download"/>
	 <setting id="paging" type="bool" label="30150" default="true"/>
	 <setting id="subtitles" type="bool" label="30160" default="false"/>
	</category>

	  <!-- Proxy -->
        <category label="30300">
         <setting id="proxy_use" label="30310" type="bool" default="false" />
         <setting id="proxy_type" label="30315" type="enum" values="HTTP|HTTP (Tunneled)|SOCKS4|SOCKS5" enable="eq(-1,true)" default="0" />
         <setting id="proxy_server" label="30320" type="text" default="" enable="eq(-2,true)" />
         <setting id="proxy_port" label="30330" type="number" default="" enable="eq(-3,true)" />
         <setting id="proxy_user" label="30340" type="text" enable="eq(-4,true)"  />
         <setting id="proxy_pass" label="30350" type="text" option="hidden" enable="!eq(-4,2) + eq(-5,true)" />
	</category>

	<!-- Downloads -->
	<category label="30200">
	 <setting id="rtmpdump_path" type="file" label="30210" default=""/>
	 <setting id="download_folder" type="folder" label="30220" default=""/>
	 <setting id="ask_folder" type="bool" label="30230" default="false"/>
	 <setting id="ask_filename" type="bool" label="30240" default="false"/>
	</category>

	<!-- Advanced -->
	<category label="30400">
	 <setting id="youtube_enable" type="bool" label="30410" default="true"/>
	 <setting id="youtube_force_check" type="bool" label="30440" default="false" enable="eq(-1,true)" />

	<!--
	 <setting id="youtube_forced" type="bool" label="30430" default="false" enable="eq(-1,true)" />
	-->

	 <setting id="socket_timeout" type="number" label="30420" default="0"/>
	 <setting id="http_cache_disable_adv" label="30170" type="bool" default="false" />
	</category>
</settings>
