<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30508">
    <setting id="crunchy_username" type="text" label="30001" default=""/>
    <setting id="crunchy_password" type="text" label="30002" option="hidden" default=""/>
    <setting type="sep" />
    <setting id="queue_type" type="enum" lvalues="30009|30010" label="30011" default="0" />
    <setting id="video_quality" type="select" lvalues="30004|30005|30006|30008|30012" label="30003" default="0" />
    <setting id="sort_queue" type="bool" label="30506" default="false" />
    <setting type="sep" />
    <setting id="subtitle_language" type="select" lvalues="30301|30302|30303|30304|30305|30306|30307|30308|30309|30313" label="30211" default="0" />
  </category>
  <category label="30509">
    <setting id="autoresume" type="labelenum" values="ask|auto|no" label="30311" default="ask" />
    <setting id="show_percent" type="bool" label="30507" default="true" />
    <setting id="prefix_premium" type="text" label="30510" default="" />
    <setting id="prefix_coming" type="text" label="30511" default="Coming Soon - " />
  </category>
</settings>
