<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting id="priority_quality" type="enum" label="32001" lvalues="32910|32911|32912|32913" default="2"/>
        <setting id="priority_format" type="enum" label="32002" lvalues="32920|32921|32922|32923" default="1"/>
        <setting type="sep"/>
        <setting id="donate" type="lsep" label="32009"/>
    </category>
    <category label="32006">
        <setting id="cache_ttl" type="enum" label="32008" lvalues="32930|32931|32932|32933" default="1"/>
        <setting label="32007" type="action" action="Runscript($ID,0,clearcache)"/>
        <setting id="donate" type="lsep" label="32009"/>
    </category>
</settings>
