<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30001">
		<setting label="30010" type="action" action="RunScript(plugin.video.specialfeatures,scandb)"/>
		<setting label="30011" type="action" action="RunScript(plugin.video.specialfeatures,cleandb)"/>
		<setting label="30023" type="action" action="RunScript(plugin.video.specialfeatures,export)"/>
		<setting type="sep"/>
		<setting type="lsep" label="30040"/>
		<setting label="30012" type='bool' id="playall" default="true"/>
		<setting label="30013" type='bool' id="showalldir" default="true"/>
		<setting label="30014" type='bool' id="moviedir" default="true"/>
		<setting label="30015" type='bool' id="tvshowdir" default="true"/>
		<setting label="30016" type='bool' id="showcon" default="false"/>
		<!-- <setting label="30029" type='bool' id="aclndb" visible="false" default="false"/>
		<setting label="30030" type='bool' id="aupdb" visible="false" default="false"/> -->
	</category>
	<category label="30002">
		<setting type="lsep" label="30041"/>
		<setting type="sep"/>
		<setting label="30020" id="dbName" type="text" default="specialfeatures"/>
		<setting label="30021" id="folder" type="text" default="Extras"/>
		<setting label="30022" type='bool' id="sfnfo" default="true"/>
		<setting label="30024" type="text" id="excludetypes"  default="\.(jpg|png|idx|srt|sfnfo|nfo|sub|db|txt|gif|xml)$"/>
		<setting type="lsep" label="30042"/>
	</category>
	<category label="30003">
		<setting type="lsep" label="30043"/>
		<setting type="sep"/>
		<setting label="30030" type="bool" id="mysql" default="false"/>
		<setting label="30031" type="text" id="sqluser" default="root" />
		<setting label="30032" type="text" id="sqlpass" default="" />
		<setting label="30033" type="ipaddress" id="sqlip" default="127.0.0.1"/>
		<setting label="30034" type="number" id="sqlport" default="3306" />
		<setting type="sep"/>
	</category>
</settings>

<!--Updated 011818 -->
