<settings>
  <category label="30003">
    <setting id="site" type="enum" label="30007" lvalues="30008|30009|30010|30011" default="0"/>
    <setting id="subtitles" type="bool" label="30012" default="true"/>
    <setting id="sub_lang" type="enum" label="30044" lvalues="30045|30046|30047|30048" default="0" visible="!eq(-1,false)" subsetting="true"/>
    <setting id="first_run" type="bool" default="true" visible="false"/>
  </category>
</settings>
