<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="30010" />
    <setting id="prot" type="enum" label="30014" values="http|https" />
    <setting id="host" type="text" label="30011" default="" />
    <setting id="port" type="number" label="30012" default="" />
    <setting id="guid" type="text" label="30013" default="" />
</settings>

