<settings>
   <setting id="language" type="enum" label="30101" values="DE|FR"/>
   <setting id="itemsPerPage" type="enum" label="30102" values="10|25|50|100" default="1"/>
   <setting id="timeout" type="number" label="30103" default="30"/>
   <setting id="forceViewMode" type="bool" label="30104" default="false"/>
   <setting id="viewMode" type="number" label="30105" default="500"/>
</settings>
