<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting id="debug" type="bool" label="32001" default="false"/>
        <setting type="sep"/>
        <setting id="cache_use" type="bool" label="32017" default="true"/>
        <setting type="sep"/>
        <setting id="cache_clear" label="32018" type="action"
                 action="RunPlugin(plugin://plugin.video.eafa/clear/cache)"/>
        <setting id="cache_recent" label="32025" type="action"
                 action="RunPlugin(plugin://plugin.video.eafa/clear/recent)"/>
        <setting id="cache_search" label="32026" type="action"
                 action="RunPlugin(plugin://plugin.video.eafa/clear/search)"/>
    </category>
    <category label="32028">
        <setting id="recent_saved" type="bool" label="32024" default="true"/>
        <setting id="video_definition" type="labelenum" label="32027" values="Low|High" default="High"/>
    </category>
    <category label="32007">
        <setting id="search_saved" type="bool" label="32020" default="true"/>
        <setting id="search_max_results" type="slider" label="32013" default="12" range="1,1,50" option="int"/>
    </category>
    <category label="32012">
        <setting id="show_highlights" type="bool" label="32006" default="true"/>
        <setting id="show_genres" type="bool" label="32005" default="true"/>
        <setting id="show_subjects" type="bool" label="32003" default="true"/>
        <setting id="show_people" type="bool" label="32004" default="true"/>
        <setting id="show_recent" type="bool" label="32023" default="true"/>
        <setting id="show_search" type="bool" label="32007" default="true"/>
        <setting id="show_settings" type="bool" label="32010" default="true"/>
    </category>
</settings>