<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="30001">
		<setting id="hd_videos" type="enum" label="30100" lvalues="30110|30120|30130" default="1" />
	</category>
	
	<!-- Title Options -->
	<category label="30002">
		<setting id="matchup" type="bool" label="30200" default="true" />
		<setting id="event" type="bool" label="30210" default="true" />
		<setting id="round" type="bool" label="30240" default="true" />
		<setting id="nr_games" type="bool" label="30220" default="true" />
		<setting id="caster" type="bool" label="30230" default="true" />
	</category>
</settings>
