<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>   
    <setting id="albumdata_xml_path" type="file" label="30000" default=""/>
    <setting id="album_ignore_published" type="bool" label="30001" default=""/>
    <setting id="album_ignore_flagged" type="bool" label="30002" default=""/>
</settings>
