<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--Login-->
    <category label="30070">
        <setting id="username" type="text" label="30071" default="" />
        <setting id="password" type="text" option="hidden" label="30072" default="" />
    </category>
    <!--SortMethod-->
    <category label="30080">
        <setting id="sortMethod" type="enum" label="30081" default="0" lvalues="30082|30083|30084" />
        <setting id="bestOfSortMethod" type="enum" label="30085" default="0" lvalues="30082|30083|30084|30086" />
    </category>
    <!--Download-->
    <category label="30090">
        <setting id="downloadMode" type="bool" default="true" label="30091" />
        <setting id="downloadPath" type="folder" source="auto" default="" enable="eq(-1,false)" option="writeable" label="30092" />
    </category>
    <!--Video-->
    <category label="30100">
        <setting id="quality" type="enum" label="30101" default="0" lvalues="30102|30103" />
        <setting id="displayParts" type="bool" default="false" label="30105" />
        <setting id="quickAccess" type="bool" default="false" label="30106" />
    </category>
</settings>
