<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="player_type" type="enum" values="Auto|MPlayer|DVDPlayer" label="30000" default="2"/>
    <setting id="updatecheck2" type="bool" label="30001" default="true"/>
    <setting id="updatechannels" type="bool" label="30004" default="true"/>
    <setting id="enableadultmode" type="bool" label="30002" default="false"/>
    <setting id="debug" type="bool" label="30003" default="false"/>
    <setting id="default_action" type="enum" lvalues="30006|30007|30008|30009" label="30005" default="0"/>
    <setting id="thumbnail_type" type="enum" lvalues="30011|30012" label="30010" default="0"/>
    <setting id="languagefilter" type="enum" lvalues="30025|30026|30027|30028|30029|30016|30023|30036|30037" values="0|1|2|3|4" label="30019" default="0"/>
    <setting id="forceview" type="bool" label ="30043" default="false"/>

    <setting type="sep" />
    <setting id="megavideopremium" type="bool" label="30013" default="false"/>
    <setting id="megavideouser" type="text" label="30014" default=""/>
    <setting id="megavideopassword" type="text" label="30015" option="hidden" default=""/>
    <setting id="quality_flv" type="enum"  lvalues="30032|30033" label="30031" default="0"/>

    <setting type="sep" />
    <setting id="privateuser" type="text" label="30034" default=""/>
    <setting id="privatepassword" type="text" option="hidden" label="30035" default=""/>

    <setting type="sep" />
    <setting id="downloadpath" type="text" label="30017" default=""/>
    <setting id="downloadlistpath" type="text" label="30018" default=""/>
    <setting id="bookmarkpath" type="text" source="video" option="writeable" label="30030" default=""/>
    <setting id="quality_youtube" type="enum" values="Low|Medium (3gp)|240p (FLV)|360P (FLV)|360p (MP4)|480p (FLV)|720p (HD)|1080p (HD)|Menu" label="30020" default="3" />
    <setting id="subtitulo" type="bool" label="30021" default="false"/>	
    <setting id="jdownloader" type="text" label="30022" default="http://127.0.0.1:10025"/>
    <setting id="limite_busquedas" type="enum" values="10|20|30|40" label="30024" default="0"/>
    <setting id="modo_cache" type="enum" lvalues="30039|30040|30041" label="30038" default="0"/>
    <setting id="cache.dir" type="text" label="30042" default=""/>
</settings>
