<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category id="general" label="30008">
        <setting label="30010" type="bool" id="auto_instance" default="true"/>
        <setting label="30007" type="text" id="instance_url" default="auto"/>
        <setting label="30009" type="bool" id="disable_dash" default="false"/>
    </category>
</settings>
