<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Authentication -->
    <category label="30001">
        <setting id="authenticate" type="bool" label="30002" default="false" />
        <setting id="username" type="text" label="30003" enable="eq(-1,true)" default="" />
        <setting id="password" type="text" option="hidden" label="30004" default="" enable="eq(-2,true)"/>
        <setting id="extracts" type="bool" option="hidden" label="30005" default="" enable="eq(-3,false)"/>
    </category>
    <!-- Affichage -->
    <category label="30006">
        <setting id="type" type="enum" label="30007" values="theme|type" default="theme"/>
        <setting id="showall" type="bool" label="30008" default="false"/>
        <setting id="show_n" subsetting="true" type="slider" label="30009" default="30" range="10,10,100" enable="!eq(-1,true)" option="int"/>
        <setting id="showseen" type="bool" label="30011" default="true"/>
        <setting id="showpromo" type="bool" label="30024" default="true"/>
        <setting id="showannounce" type="bool" label="30025" default="true"/>
        <setting id="agelimit" type="labelenum" label="30026" values="Aucun|10|12|16|18" default="Aucun"/>
        <setting id="showlast" subsetting="true" type="slider" label="30012" default="30" range="5,5,60" option="int"/>
        <setting id="autorefresh" type="bool" label="30013" default="true"/>
        <setting id="quality" type="enum" label="30010" values="LQ|HQ|TV|720p|1080p" default="TV"/>
    </category>

</settings>
