<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Authentication -->
    <category label="32001">
        <setting id="username" type="text" label="32011" default=""/>
        <setting id="password" type="text" option="hidden" label="32012" default=""/>
    </category>
    <!-- Affichage -->
    <category label="33001">
        <setting id="type" type="enum" label="33011" values="theme|type" default="theme"/>
        <setting id="showall" type="bool" label="33012" default="false"/>
        <setting id="show_n" subsetting="true" type="slider" label="33013" default="30" range="10,10,100" enable="!eq(-1,true)"/>
        <setting id="showseen" type="bool" label="33015" default="true"/>
        <setting id="quality" type="enum" label="33014" values="LQ|HQ|TV|720p|1080p" default="HQ"/>
    </category>

</settings>
