<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!--games scrapers-->

    <category label="30126">
        <setting id="separator" type="lsep" label="30174"/>
        <setting label="30166" type="enum" id="datas_method" lvalues="30148|30167|30168" default="0"/>
        <setting label="30120" type="enum" id="scrap_info" lvalues="30149|30150" default="0" visible="eq(-1,2)"/>
        <setting id="separator" type="lsep" label="30173"/>
        <setting label="30121" type="fileenum" id="datas_scraper" default="AllGame" mask="/" values="/resources/scrapers/datas/"/>
        <setting label="30129" type="bool" id="ignore_bios" default="true" visible="eq(-1,MAMEWorld)"/>
        <setting id="separator" type="lsep" label="30171"/>
        <setting label="30159" type="bool" id="ignore_title" default="false"/>
        <setting label="30128" type="bool" id="clean_title" default="true" visible="eq(-1,false)"/>
        <setting label="30151" type="bool" id="title_formating" default="true" visible="eq(-2,false)"/>
    </category>

    <category label="30122">
        <setting id="separator" type="lsep" label="30174"/>
        <setting label="30166" type="enum" id="thumbs_method" lvalues="30148|30172|30168" default="0"/>
        <setting label="30120" type="enum" id="scrap_thumbs" lvalues="30149|30150" default="0" visible="eq(-1,2)"/>
        <setting id="separator" type="lsep" label="30173"/>
        <setting label="30121" type="fileenum" id="thumbs_scraper" default="GameFAQs" mask="/" values="/resources/scrapers/thumbs/"/>
        <setting label="30134" type="enum" id="game_region" lvalues="30136|30144|30145|30146" default="0" visible="eq(-1,GameFAQs)| eq(-1,MobyGames)"/>
        <setting label="30135" type="enum" id="thumb_image_size" lvalues="30136|30137|30138|30139|30140|30141|30142|30143" default="0" visible="eq(-2,Google)"/>
        <setting label="30147" type="bool" id="overwrite_thumbs" default="false"/>
    </category>

    <category label="30123">
        <setting id="separator" type="lsep" label="30174"/>
        <setting label="30166" type="enum" id="fanarts_method" lvalues="30148|30172|30168" default="0"/>
        <setting label="30120" type="enum" id="scrap_fanarts" lvalues="30149|30150" default="0" visible="eq(-1,2)"/>
        <setting id="separator" type="lsep" label="30173"/>
        <setting label="30121" type="fileenum" id="fanarts_scraper" default="GameFAQs" mask="/" values="/resources/scrapers/fanarts"/>
        <setting label="30135" type="enum" id="fanart_image_size" lvalues="30136|30137|30138|30139|30140|30141|30142|30143" default="0" visible="eq(-1,Google)"/>
        <setting label="30162" type="enum" id="select_fanarts" default="0" lvalues="30163|30164|30165"/>
        <setting label="30147" type="bool" id="overwrite_fanarts" default="false"/>
    </category>

    <category label="30124">
        <setting id="separator" type="lsep" label="30124"/>
        <setting label="30158" type="bool" id="recursive_scan" default="true" />
        <setting label="30152" type="enum" id="media_state" lvalues="30153|30154|30155" default="0" />
        <setting label="30160" type="bool" id="launcher_notification" default="false" />
        <setting id="separator" type="lsep" label="30170"/>
        <setting label="30125" type="folder" id="launcher_thumb_path" default="" source="auto" />
        <setting label="30127" type="folder" id="launcher_fanart_path" default="" source="auto"/>
        <setting label="30161" type="folder" id="launcher_nfo_path" default="" source="auto" />
    </category>

    <category label="30156">
        <setting id="separator" type="lsep" label="30156"/>
        <setting label="30157" type="bool" id="show_batch" default="false"/>
    </category>

</settings>
