<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="30001">
<!--
    It looks like you can't pass these to the youtube player.  Quality
settings are only settable inside the youtube plugin
		<setting id="hd_videos" type="enum" label="30208" lvalues="30213|30215|30216|30217" default="2" />
    Not needed for any features currently.  
		<setting id="d9tvusername" type="text" label="30301" default="" />
		<setting id="d9tvpassword" type="text" label="30302" option="hidden" enable="!eq(-1,)" default="" />
 -->

    <!-- Show/hide various things 
        // Funday Monday
        // Newbie Tuesday
        // etc..
    -->
	</category>
</settings>
