<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30300">
        <setting id="force_viewmode" type="bool" label="30100" default="true"/>
        <setting id="quality2" type="enum" label="30101" lvalues="30102|30103" default="1"/>
    </category>
    <category label="30301">
        <setting id="system_filter_enabled" type="bool" label="30200" default="false"/>
        <setting id="show_360" type="bool" label="30201" default="true" visible="eq(-1,true)"/>
        <setting id="show_pc-cdrom" type="bool" label="30202" default="true" visible="eq(-2,true)"/>
        <setting id="show_iphone" type="bool" label="30203" default="true" visible="eq(-3,true)"/>
        <setting id="show_ipad" type="bool" label="30204" default="true" visible="eq(-4,true)"/>
        <setting id="show_android" type="bool" label="30205" default="true" visible="eq(-5,true)"/>
        <setting id="show_3ds" type="bool" label="30206" default="false" visible="eq(-6,true)"/>
        <setting id="show_nds" type="bool" label="30207" default="false" visible="eq(-7,true)"/>
        <setting id="show_wii_u" type="bool" label="30208" default="false" visible="eq(-8,true)"/>
        <setting id="show_playstation3" type="bool" label="30209" default="false" visible="eq(-9,true)"/>
        <setting id="show_playstation4" type="bool" label="30210" default="true" visible="eq(-10,true)"/>
        <setting id="show_psp" type="bool" label="30211" default="true" visible="eq(-11,true)"/>
        <setting id="show_ps_vita" type="bool" label="30212" default="false" visible="eq(-12,true)"/>
        <setting id="show_spielkultur" type="bool" label="30213" default="false" visible="eq(-13,true)"/>
        <setting id="show_windowsphone7" type="bool" label="30214" default="true" visible="eq(-14,true)"/>
        <setting id="show_xbox" type="bool" label="30215" default="false" visible="eq(-15,true)"/>
        <setting id="show_wii" type="bool" label="30216" default="false" visible="eq(-16,true)"/>
        <setting id="show_playstation2" type="bool" label="30217" default="false" visible="eq(-17,true)"/>
    </category>
</settings>
