<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Login-->
  <category label="30100">
    <setting id="username" type="text" label="30140" default=""/>
    <setting id="password" type="text" label="30150" option="hidden" default=""/>
    <setting id="single_team" type="bool" label="30151" default="false"/>
    <setting label="30156" type="action" action="RunPlugin(plugin://plugin.video.mlbtv/?url=junk&amp;mode=400)" option="close" />
    <!--Hidden-->
    <setting id='session_key' type='text' visible="false" default=''/>
    <setting id='device_id' type='text' visible="false" default=''/>
    <setting id='last_login' type='text' visible="false" default=''/>
    <setting id='login_token' type='text' visible="false" default=''/>
    <setting id="session_token" type="text" label="" default="" visible="false"/>
    <setting id="okta_client_id" type="text" label="" default="" visible="false"/>
    <setting id="okta_access_token" type="text" label="" default="" visible="false"/>
    <setting id="okta_access_token_expiry" type="text" label="" default="" visible="false"/>
  </category>

  <category label="30159">
    <setting id="quality" type="labelenum" label="30160" values="Best Available|Always Ask" default="Best Available" />
    <setting id="cdn" type="labelenum" label="30165" values="Akamai|Level 3|No Preference" default="No Preference"/>
    <setting id="no_spoilers" type="enum" label="30170" lvalues="30171|30172|30173|30174|30175" />
    <setting id="fav_team" type="labelenum" label="30180" default="None" values="None|Washington Nationals|Toronto Blue Jays|Texas Rangers|Tampa Bay Rays|St. Louis Cardinals|Seattle Mariners|San Francisco Giants|San Diego Padres|Pittsburgh Pirates|Philadelphia Phillies|Oakland Athletics|New York Yankees|New York Mets|Minnesota Twins|Milwaukee Brewers|Los Angeles Dodgers|Los Angeles Angels|Kansas City Royals|Miami Marlins|Houston Astros|Detroit Tigers|Colorado Rockies|Cleveland Guardians|Cincinnati Reds|Chicago White Sox|Chicago Cubs|Boston Red Sox|Baltimore Orioles|Atlanta Braves|Arizona Diamondbacks" />

    <setting id="in_market" type="labelenum" label="30300" default="Show" values="Show|Hide" />
    
    <setting id="team_names" type="select" label="30190" lvalues="30191|30192" default="0" />
    <setting id="time_format" type="select" label="30301" lvalues="30302|30301" default="0" />
    <setting id="auto_select_stream" type="bool" label="30307" default="false" />
    <setting id="catch_up" type="bool" label="30304" default="true" />
    <setting id="ask_to_skip" type="bool" label="30306" default="true" />
    <setting id="only_free_games" type="bool" label="30305" default="false" />

    <setting id="old_username" type="text" label="" default="" visible="false"/>
    <setting id="old_password" type="text" label="" default="" visible="false"/>

    <setting id="stream_date" type="text" label="" default="" visible="false"/>
    <setting id="big_inning_date" type="text" label="" default="" visible="false"/>
    <setting id="big_inning_schedule" type="text" label="" default="" visible="false"/>
    <setting id="mlb_monitor_started" type="text" label="" default="" visible="false"/>
  </category>
  <!--Proxy-->
  <category label='30200'>
    <setting id='use_proxy' type='bool' label='30210' default='false'/>
    <setting id='proxy_server' type='text' label='30220' default=''/>
    <setting id='proxy_port' type='number' label='30230' default=''/>
    <setting id='proxy_user' type='text' label='30240' default=''/>
    <setting id='proxy_pwd' type='text' label='30250' option='hidden' default=''/>
  </category>
</settings>

