<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30100">
    <setting id="username" type="text" label="30110" default=""/>
    <setting id="password" type="text" label="30120" option="hidden" default=""/>
    <setting id="rogerslogin" type="bool" label="30160" default="false"/>
    <setting id="quality" type="enum" label="30130" values="SD (800 kbit/s)|SD (1600 kbit/s)|HD (3000 kbit/s)|HD (5000 kbit/s)|Best|Always Ask" default="4" />
    <setting id="quality_classic" type="enum" label="30140" values="SD (800 kbit/s)|SD (1600 kbit/s)" default="1" visible="false"/>
	<setting id="useragent" type="text" label="30150" default="PS3Application libhttp/4.5.5-000 (CellOS)" visible="false"/>
	<setting id="cdnserver" type="labelenum" label="30155" values="cdnak|cdnllnwnl|cdnl3nl" default="cdnak" />
    <setting id="show_score" type="bool" label="30170" default="false"/>
    <setting id="score_updates" type="bool" label="30180" default="true" visible="false"/>
    <setting id="french_feed" type="bool" label="30185" default="false" visible="true"/>
    <setting id="goalie_cam" type="bool" label="30190" default="false" visible="true"/>
  </category>
  
  <!-- Visual -->
  <category label="30200">
    <setting id="team_names" type="enum" label="30210" values="City|Team|Full|Abbreviation" default="0" />
    <setting id="hide_live_games" type="bool" label="30220" default="false" visible="false"/>
    <setting id="use_thumbnails" type="bool" label="30230" default="false"/>
    <setting id="use_addon_icon" type="bool" label="30240" default="false" visible="false"/>
    <setting id="thumb_format" type="enum" label="30250" values="Square|Cover|16:9" default="0" />
    <setting id="thumb_format_osd" type="enum" label="30260" values="Square|Cover|16:9" default="0" />
    <setting id="background" type="enum" label="30270" values="Black|Ice|Transparent" default="0" />
    <setting id="background_osd" type="enum" label="30280" values="Black|Ice|Transparent" default="0" />
    <setting id="generate_thumbnails" type="bool" label="30290" default="false"/>
    <setting id="delete_thumbnails" type="bool" label="30300" default="false"/>
    <setting id="alternativevs" type="bool" label="30330" default="false"/>	
  </category>

</settings>
