<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting id="PLAY"          type="bool"   label="30101" default="false"/>
        <setting id="HIDE"          type="bool"   label="30102" default="false"/>
        <setting id="VERSION"       type="text"   label=""      default="0.0.0" visible="false"/>
        <setting id="STREAM"        type="text"   label=""      default="192"   visible="false"/>		
    </category>  
    <category label="30103">
        <setting id="RECORD_FOLDER" type="folder" label="30104" default=""/>
        <setting id="ASK_FOLDER"    type="bool"   label="30105" default="false"/>
        <setting id="ASK_FILENAME"  type="bool"   label="30106" default="true"/>
    </category>
</settings>