<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="thumbnails_scan" type="bool" label="30001" default="true"/>
	<setting id="thumbnails_cache_time" type="labelenum" label="30002" values="7|15|30|60" enable="eq(-1,true)" default="0"/>
    <setting id="video_max_bitrate" type="labelenum" label="30003" values="48000|56000|64000|128000|256000|512000" default="5"/>
	<setting id="video_autostart_time" type="labelenum" label="30004" values="5|15|30|60|120" default="0"/>
  </category>
</settings>

