<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>   
    <!-- General -->
    <category label="30200">
	<setting id="photo_library_path" type="folder" source="" label="30210" default=""/>
	<setting id="use_local_copy" type="bool" label="30220" default="false"/>
    </category>

    <!-- View -->
    <category label="30300">
	<setting id="sort_method" type="enum" label="30310" lvalues="30311|30312" default="0"/>
	<setting id="sort_direction" type="enum" label="30320" lvalues="30321|30322" default="0"/>
	<setting type="sep"/>
	<setting id="view_mode" type="enum" label="30330" lvalues="30331|30332|30333" default="1"/>
    </category>
</settings>
