<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!--Live TV-->
    <category label="30020">
        <setting id="livetv" type="bool" default="true" label="30005" />
        <setting id="server" type="text" default="localhost" label="30002" enable="eq(-1,true)" />
        <setting id="bitrate" type="enum" lvalues="30015|30016|30017|30018|30019" default="4" label="30014" enable="eq(-2,true)" />
        <setting id="passwdEnabled" type="bool" default="false" label="30003" enable="eq(-3,true)" />
        <setting id="password" type="text" option="hidden" default="" enable="eq(-1,true) + eq(-4,true)" label="30004" />
    </category>
    <category label="30021">
        <setting id="recordings" type="bool" default="true" label="30005" />
        <setting id="archivePath" type="folder" source="auto" default="" label="30001" enable="eq(-1,true)" />
        <setting id="sortMethod" type="enum" label="30010" default="0" lvalues="30011|30012|30013" enable="eq(-2,true)" />
    </category>
</settings>
