<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30200">
    <setting id="username" type="text" label="30201" default="" />
    <setting id="user_password" type="text" option="hidden" label="30202" enable="!eq(-1,)" default="" />
  </category>
</settings>
