<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="10000">
        <setting type="lsep" label="20000" />
            <setting id="quality" type="enum" label="30100" values="400kbps|750kbps|1024kbps|HD" default="1" subsetting="true"/>
        <setting type="lsep" label="20001" />
            <setting id="email" type="text" label="30102" default="" subsetting="true"/>
            <setting id="password" type="text" label="30103" option="hidden" default="" subsetting="true"/>
	    <setting id="free_package" type="bool" default="true" visible="false"/>
	    <setting id="dvr" type="bool" default="false" visible="false"/>
	    <setting id="token" type="text" default="" visible="false"/>
    
        <setting type="lsep" label="200002" />
        <setting type="lsep" label="200003" />

        <setting id="setup" default="false" visible="false" />
        <setting id="setup_new" default="false" visible="false" />

</category>

    <category label="10002">
            <setting id="logo" type="enum" label="40000" values="Channel Logo|Show/Movie Poster" default="1" />
            <setting id="show_tv_guide" type="bool" label="40006" default="true" />
            <setting id="show_movies_section" type="bool" label="40002" default="true" />
            <setting id="show_sports_section" type="bool" label="40003" default="false" />
            <setting id="show_settings_option" type="bool" label="40004" default="true" />
            <setting type="lsep" label="200004" />
    </category>

    <category label="10001">
            <setting id="rec_live" type="bool" label="40001" default="true" />
            <setting id="rec_stream_type" type="enum" label="30101" values="RTSP|RTMP" default="0" />
            <setting id="extended_context" type="bool" label="40007" default="false" />
            <setting type="lsep" label="200004" />
    </category>

</settings>
