<settings>
  <!-- General -->
  <category label="30247">
    <setting id="username" type="text" label="30200" default="" />
    <setting id="password" type="text" option="hidden" label="30201" enable="!eq(-1,)" default="" />
    <setting id="mark_cdn4" type="bool" label="30202" default="false" />
    <setting id="debug" type="bool" label="30218" default="false" />
  </category>

</settings>
