<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30000">
    <setting id="save_path" type="folder"  source="local" label="30003" default="special://profile/addon_data/plugin.image.prensayrevistas/downloads"/>
  </category>
  <category label="30136">
	<setting id="language" type="enum" label="30001" lvalues="30005|30006|30007|30008|30009|30010|30011|30012" default="1"/>
  </category>
  <category label="30137">
    <setting id="pagesize" type="enum" label="30004" values="10|20|30|50|100|200|500" default="0"/>
	<setting id="language_issuu" type="enum" label="30140" lvalues="30005|30006|30007|30008|30009|30010|30011" default="1"/>
	<setting id="language_scribd" type="enum" label="30141" lvalues="30005|30006|30007|30008|30009|30010|30011" default="1"/>
  </category>
  <category label="30138">
	<setting id="language_google" type="enum" label="30142" lvalues="30005|30006|30007|30008|30009|30010|30011" default="1"/>
	<setting id="type_google" type="enum" label="30210" lvalues="30211|30212" default="0"/>
	<setting id="search_google" type="enum" label="30213" lvalues="30214|30215|30216" default="0"/>	
  </category>
</settings>