<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30218">
    <setting id="hd_videos" type="enum" label="30208" lvalues="30213|30215|30216|30217" default="2" />
    <setting id="list_view" type="enum" label="30259" lvalues="30271|30272|30273" default="0" />
    <setting id="perpage" type="enum" label="30210" values="10|15|20|25|30|40|50" default="6" />
    <setting id="saved_searches" type="enum" label="30211" values="10|20|30|40" default="3" />
    <setting type="sep" />
    <setting id="downloadPath" type="folder" label="30207" default="" />
    <setting id="hd_videos_download" type="enum" label="30261" lvalues="30262|30215|30216|30217" default="0" />
    <setting type="sep" />
    <setting id="notification_length" type="enum" label="30212" values="1|2|3|4|5|6|7|8|9|10" default="2" />
    <setting id="timeout" type="enum" label="30265" values="5|10|15|20|25" default="3" />
    <setting id="debug" type="bool" label="30246" default="false" />
    <setting type="sep" />    
  </category>
</settings>