<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>
	<category label="User info">
		<setting id="name" type="text" label="Name" default="" />
		<setting id="email" type="text" label="Email" default="" />
	</category>
	
	<category label="General">
		<setting id="community_list" type="bool" label="Read Online Channels List" default="true"/>
		<setting id="commercial" type="bool" label="Show Advertisement" default="true"/>
	</category>
</settings>