<settings>
  <category label="30009">
    <setting id="quality" type="enum" label="30007" lvalues="30000|30001|30002|30003|30004|30005" default="0"/>
    <setting id="debug" type="bool" label="30008" default="false"/>
  </category>
  <category label="30010">
    <setting id="series" type="enum" label="30015" lvalues="30011|30012|30013|30014" default="0"/>
    <setting id="time" type="enum" label="30016" lvalues="30017|30018|30019|30020" default="0"/>
    <setting id="sort" type="enum" label="30021" lvalues="30022|30023" default="0"/>
    <setting id="featured" type="bool" label="30024" default="true"/>
  </category>
</settings>