<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category label="30100">
        <setting id="group.by.category" label="30102" type="bool" default="false" />
	</category>
    <category label="30108">
        <setting id="warn.if.not.in.denmark" label="30109" type="bool" default="true" />
    </category>
</settings>

