<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="39999">
    <setting id="button_0"          type="text" label="30000" default="0"             />
    <setting id="button_1"          type="text" label="30001" default="1"             />
    <setting id="button_2"          type="text" label="30002" default="2"             />
    <setting id="button_3"          type="text" label="30003" default="3"             />
    <setting id="button_4"          type="text" label="30004" default="4"             />
    <setting id="button_5"          type="text" label="30005" default="5"             />
    <setting id="button_6"          type="text" label="30006" default="6"             />
    <setting id="button_7"          type="text" label="30007" default="7"             />
    <setting id="button_8"          type="text" label="30008" default="8"             />
    <setting id="button_9"          type="text" label="30009" default="9"             />
    <setting id="button_clear"      type="text" label="30010" default="escape"        />
    <setting id="button_enter"      type="text" label="30011" default="return"        />
    <setting id="button_power"      type="text" label="30012" default="mce"           />
    <setting id="button_windows"    type="text" label="30013" default="ctrl-shift-w"  />
    <setting id="button_mute"       type="text" label="30014" default="f8"            />
    <setting id="button_info"       type="text" label="30015" default="ctrl-d"        />
    <setting id="button_volup"      type="text" label="30016" default="f10"           />
    <setting id="button_voldown"    type="text" label="30017" default="f9"            />
    <setting id="button_chanup"     type="text" label="30018" default="pageup"        />
    <setting id="button_chandown"   type="text" label="30019" default="pagedown"      />
    <setting id="button_ff"         type="text" label="30020" default="ctrl-shift-f"  />
    <setting id="button_rew"        type="text" label="30021" default="ctrl-shift-b"  />
    <setting id="button_play"       type="text" label="30022" default="ctrl-shift-p"  />
    <setting id="button_record"     type="text" label="30023" default="ctrl-r"        />
    <setting id="button_pause"      type="text" label="30024" default="ctrl-p"        />
    <setting id="button_stop"       type="text" label="30025" default="ctrl-shift-s"  />
    <setting id="button_next"       type="text" label="30026" default="ctrl-f"        />
    <setting id="button_prev"       type="text" label="30027" default="ctrl-b"        />
    <setting id="button_hash"       type="text" label="30028" default="ctrl-shift-3"  />
    <setting id="button_star"       type="text" label="30029" default="ctrl-shift-8"  />
    <setting id="button_up"         type="text" label="30030" default="up"            />
    <setting id="button_down"       type="text" label="30031" default="down"          />
    <setting id="button_left"       type="text" label="30032" default="left"          />
    <setting id="button_right"      type="text" label="30033" default="right"         />
    <setting id="button_ok"         type="text" label="30034" default="return"        />
    <setting id="button_back"       type="text" label="30035" default="backspace"     />
    <setting id="button_dvdmenu"    type="text" label="30036" default="ctrl-shift-m"  />
    <setting id="button_livetv"     type="text" label="30037" default="ctrl-shift-t"  />
    <setting id="button_guide"      type="text" label="30038" default="ctrl-g"        />
    <setting id="button_music"      type="text" label="30071" default="ctrl-m"        />
    <setting id="button_recordedtv" type="text" label="30072" default="ctrl-o"        />
    <setting id="button_pictures"   type="text" label="30073" default="ctrl-i"        />
    <setting id="button_movies"     type="text" label="30074" default="ctrl-e"        />
    <setting id="button_radio"      type="text" label="30080" default="ctrl-a"        />
    <setting id="button_teletext"   type="text" label="30090" default="ctrl-t"        />
    <setting id="button_red"        type="text" label="30091" default="ctrl-alt-1"    />
    <setting id="button_green"      type="text" label="30092" default="ctrl-alt-2"    />
    <setting id="button_yellow"     type="text" label="30093" default="ctrl-alt-3"    />
    <setting id="button_blue"       type="text" label="30094" default="ctrl-alt-4"    />

    <!-- Remote specific settings -->

    <setting id="button_asrock"     type="text" label="30039" default="" />

    <setting id="button_hpwron"     type="text" label="30041" default="" /> <!-- Harmony discrete power on -->
    <setting id="button_hpwroff"    type="text" label="30042" default="" /> <!-- Harmony discrete power off -->

    <setting id="button_mgangle"    type="text" label="30075" default="" /> <!-- Mediagate DVD Angle -->
    <setting id="button_mgaudio"    type="text" label="30076" default="" /> <!-- Mediagate DVD Audio -->
    <setting id="button_mgsubtitle" type="text" label="30077" default="" /> <!-- Mediagate Subtitles -->

    <setting id="button_hpprint"    type="text" label="30078" default="" /> <!-- Print on HP remote -->
    <setting id="button_playpause"  type="text" label="30110" default="" /> <!-- Play/pause on HP remote -->

    <setting id="button_xbopen"     type="text" label="30040" default="" /> <!-- Open/Close on XBox universal remote -->
    <setting id="button_xbdisplay"  type="text" label="30079" default="" /> <!-- Display on XBox universal remote -->
    <setting id="button_xblargex"   type="text" label="30100" default="" /> <!-- Large X on XBox universal remote -->
    <setting id="button_xbgreena"   type="text" label="30102" default="" /> <!-- Green A on XBox universal remote -->
    <setting id="button_xbbluex"    type="text" label="30104" default="" /> <!-- Blue  X on XBox universal remote -->
    <setting id="button_xbchanup"   type="text" label="30108" default="" /> <!-- Chan up on XBox universal remote -->
    <setting id="button_xbchandn"   type="text" label="30109" default="" /> <!-- Chan dn on XBox universal remote -->

  </category>
  <category label="39998">
    <setting id="update_keyedit"    type="bool" label="31000" default="true" />
  </category>
</settings>
