<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="49999">
    <setting id="button_0"          type="text" label="40000" default="0"             />
    <setting id="button_1"          type="text" label="40001" default="1"             />
    <setting id="button_2"          type="text" label="40002" default="2"             />
    <setting id="button_3"          type="text" label="40003" default="3"             />
    <setting id="button_4"          type="text" label="40004" default="4"             />
    <setting id="button_5"          type="text" label="40005" default="5"             />
    <setting id="button_6"          type="text" label="40006" default="6"             />
    <setting id="button_7"          type="text" label="40007" default="7"             />
    <setting id="button_8"          type="text" label="40008" default="8"             />
    <setting id="button_9"          type="text" label="40009" default="9"             />
    <setting id="button_clear"      type="text" label="40010" default="escape"        />
    <setting id="button_enter"      type="text" label="40011" default="return"        />
    <setting id="button_power"      type="text" label="40012" default="mce"           />
    <setting id="button_windows"    type="text" label="40013" default="ctrl-shift-w"  />
    <setting id="button_mute"       type="text" label="40014" default="f8"            />
    <setting id="button_info"       type="text" label="40015" default="ctrl-d"        />
    <setting id="button_volup"      type="text" label="40016" default="f10"           />
    <setting id="button_voldown"    type="text" label="40017" default="f9"            />
    <setting id="button_chanup"     type="text" label="40018" default="pageup"        />
    <setting id="button_chandown"   type="text" label="40019" default="pagedown"      />
    <setting id="button_ff"         type="text" label="40020" default="ctrl-shift-f"  />
    <setting id="button_rew"        type="text" label="40021" default="ctrl-shift-b"  />
    <setting id="button_play"       type="text" label="40022" default="ctrl-shift-p"  />
    <setting id="button_record"     type="text" label="40023" default="ctrl-r"        />
    <setting id="button_pause"      type="text" label="40024" default="ctrl-p"        />
    <setting id="button_stop"       type="text" label="40025" default="ctrl-shift-s"  />
    <setting id="button_next"       type="text" label="40026" default="ctrl-f"        />
    <setting id="button_prev"       type="text" label="40027" default="ctrl-b"        />
    <setting id="button_hash"       type="text" label="40028" default="ctrl-shift-3"  />
    <setting id="button_star"       type="text" label="40029" default="ctrl-shift-8"  />
    <setting id="button_up"         type="text" label="40030" default="up"            />
    <setting id="button_down"       type="text" label="40031" default="down"          />
    <setting id="button_left"       type="text" label="40032" default="left"          />
    <setting id="button_right"      type="text" label="40033" default="right"         />
    <setting id="button_ok"         type="text" label="40034" default="return"        />
    <setting id="button_back"       type="text" label="40035" default="backspace"     />
    <setting id="button_dvdmenu"    type="text" label="40036" default="ctrl-shift-m"  />
    <setting id="button_livetv"     type="text" label="40037" default="ctrl-shift-t"  />
    <setting id="button_guide"      type="text" label="40038" default="ctrl-g"        />
    <setting id="button_music"      type="text" label="40071" default="ctrl-m"        />
    <setting id="button_recordedtv" type="text" label="40072" default="ctrl-o"        />
    <setting id="button_pictures"   type="text" label="40073" default="ctrl-i"        />
    <setting id="button_movies"     type="text" label="40074" default="ctrl-e"        />
    <setting id="button_radio"      type="text" label="40080" default="ctrl-a"        />
    <setting id="button_teletext"   type="text" label="40090" default="ctrl-t"        />
    <setting id="button_red"        type="text" label="40091" default="ctrl-alt-1"    />
    <setting id="button_green"      type="text" label="40092" default="ctrl-alt-2"    />
    <setting id="button_yellow"     type="text" label="40093" default="ctrl-alt-3"    />
    <setting id="button_blue"       type="text" label="40094" default="ctrl-alt-4"    />

    <!-- Remote specific settings -->

    <setting id="button_asrock"     type="text" label="40039" default="" />

    <setting id="button_hpwron"     type="text" label="40041" default="" /> <!-- Harmony discrete power on -->
    <setting id="button_hpwroff"    type="text" label="40042" default="" /> <!-- Harmony discrete power off -->

    <setting id="button_mgangle"    type="text" label="40075" default="" /> <!-- Mediagate DVD Angle -->
    <setting id="button_mgaudio"    type="text" label="40076" default="" /> <!-- Mediagate DVD Audio -->
    <setting id="button_mgsubtitle" type="text" label="40077" default="" /> <!-- Mediagate Subtitles -->

    <setting id="button_hpprint"    type="text" label="40078" default="" /> <!-- Print on HP remote -->
    <setting id="button_playpause"  type="text" label="40110" default="" /> <!-- Play/pause on HP remote -->

    <setting id="button_xbopen"     type="text" label="40040" default="" /> <!-- Open/Close on XBox universal remote -->
    <setting id="button_xbdisplay"  type="text" label="40079" default="" /> <!-- Display on XBox universal remote -->
    <setting id="button_xblargex"   type="text" label="40100" default="" /> <!-- Large X on XBox universal remote -->
    <setting id="button_xbgreena"   type="text" label="40102" default="" /> <!-- Green A on XBox universal remote -->
    <setting id="button_xbbluex"    type="text" label="40104" default="" /> <!-- Blue  X on XBox universal remote -->
    <setting id="button_xbchanup"   type="text" label="40108" default="" /> <!-- Chan up on XBox universal remote -->
    <setting id="button_xbchandn"   type="text" label="40109" default="" /> <!-- Chan dn on XBox universal remote -->

  </category>
  <category label="49998">
    <setting id="update_keyedit"    type="bool" label="41000" default="yes" />
  </category>
</settings>
