<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30001">  
    <setting id="ratio" type="labelenum" label="30010" lvalues="30011|30012" default="4x3" />
    <setting id="commentary" type="bool" label="30020" default="false" />
    <setting id="inputstream_adaptive" type="bool" label="30030" default="true" />
    <setting id="deauthorize" type="action" label="30900" action="RunPlugin(plugin://plugin.video.simpsonsworld/?url=junk&amp;mode=999)" option="close" />
  </category>
</settings>
