<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30001">
    <setting id="quality" type="enum" label="30101" values="480p|720p|1080p" default="0" />
    <setting id="shuffle" type="bool" label="30102" default="false" />
    <setting id="maxsearches" type="enum" label="30103" values="10|20|40|60|80" default="0" />
  </category>

</settings>
