<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <!-- General -->
  <category label="30001">
    <setting id="hd" type="bool" label="30101" default="true" />
    <setting id="sd" type="bool" label="30102" default="true" />
    <setting id="numresults" type="enum" label="30103" values="5|10|15|20|25|30|35|40|45|50|60|70|80|90|100" default="3" />
  </category>

</settings>
