<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30015">
		<setting type="sep" />
	   <setting id="login_name" type="text" label="30016" default=""/>
	   <setting id="login_pass" type="text" label="30017" enable="!eq(-1,)" option="hidden" default=""/>
		<setting type="sep" />
	</category>

	<!-- Streaming -->
	<category label="30085">
	   <setting type="sep" />
	   <setting id="bitrate" type="enum" values="600|900|1400|1800|2600|3400|4400|5400" label="30086" default="7" />
	   <setting type="sep" />
	</category>

	<!-- View Settings -->
	<category label="30080">
	   <setting type="sep" />
	   <setting id="perpage" type="enum" label="30081" values="25|50|75|100|125|150|175|200" default="0"/>
	   <setting type="sep" />
	</category>

	<category label="30030">
		<setting type="sep" />
		<setting id="us_proxy_enable" type="bool" label="30042" default="false"/>
		<setting id="us_proxy" type="text" label="30040" default=""/>
		<setting id="us_proxy_port" type="text" label="30041" default=""/>
		<setting id="us_proxy_user" type="text" label="30043" default=""/>
		<setting id="us_proxy_pass" type="text" label="30044" default=""/>
		<setting type="sep" />
	</category>
</settings>
