<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting id="Quality" type="enum" label="30002" default="3" values="LOW|MED|HIGH|HD" />
        <setting id="LogLevel" type="enum" label="30003" default="3" values="Debug|Info|Warning|Error"/>
    </category>
</settings>