<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="30008">
    <setting id="lang" type="enum" label="30007" lvalues="30009|30003|30004|30005|30006" default="0" />
  </category>

  <category label="30073">
		<setting type="sep" />
		<setting id='enable_views' type ="bool" label="30070" default="false"/>
		<setting id="default_view" type="text" label="30071" default="50" enable="!eq(-1,false)"/>
		<setting id="movies_view"   type="text" label="30074" default="50" enable="!eq(-2,false)"/>
		<setting id="shows_view"   type="text" label="30075" default="50" enable="!eq(-3,false)"/>
		<setting id="episode_view" type="text" label="30072" default="50" enable="!eq(-4,false)"/>
		<setting type="sep" />
  </category>
</settings>
