<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Authentication -->
    <category label="30001">
        <setting id="guest" type="bool" label="30002" default="false" />
        <setting id="username" type="text" label="30003" default="" visible="eq(-1,false)"/>
        <setting id="password" type="text" option="hidden" label="30004" default="" visible="eq(-2,false)"/>
    </category>
    <!-- Affichage -->
    <category label="30006">
        <setting id="guest" type="bool" label="30002" default="false" visible="false"/>
        <setting id="show_per_page" type="slider" label="30012" default="30" range="10,10,100" option="int"/>
        <setting id="showseen" type="bool" label="30011" default="true" visible="eq(-2,false)"/>
        <setting id="quality" type="enum" label="30010" lvalues="30014|30015|30016|30017|30018" default="3"/>
        <setting id="csa" type="enum" label="30039" lvalues="30019|30020|30021|30022|30023" default="4"/>
        <setting id="lang" type="labelenum" label="30027" values="fr|ja" default="fr"/>
        <setting id="random" type="bool" label="30030" default="false" visible="eq(-6,false)"/>
        <setting id="tagnew" type="bool" label="30005" default="true"/>
        <setting id="hidenews" type="bool" label="30007" default="true"/>
    </category>
    <!-- Folders -->
    <category label="30031">
        <setting id="guest" type="bool" label="30002" default="false" visible="false"/>
        <setting id="folder.playlist" type="bool" label="30032" default="true" visible="eq(-1,false)"/>
        <setting id="folder.favorite" type="bool" label="30033" default="true" visible="eq(-2,false)"/>
        <setting id="folder.history" type="bool" label="30034" default="true" visible="eq(-3,false)"/>
        <setting id="folder.free_content" type="bool" label="30035" default="false" visible="eq(-4,false)"/>
        <setting id="folder.popular" type="bool" label="30037" default="true" visible="eq(-5,false)"/>
        <setting id="folder.top_rated" type="bool" label="30038" default="true" visible="eq(-6,false)"/>
        <setting label="30036" type="lsep" visible="eq(-7,true)"/>
    </category>
    <!-- Cache -->
    <category label="30040">
        <setting id="cache.isactive" type="bool" label="30041" default="true"/>
        <setting id="cache.ttl" type="slider" label="30042" default="10" range="1,1,120" option="int" visible="eq(-1,true)"/>
        <setting id="cache.reset" type="action" label="30043" action="RunPlugin(plugin://$ID/reset_cache)"/>
    </category>

</settings>
