<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Authentication -->
    <category label="30001">
        <setting id="guest" type="bool" label="30002" default="false" />
        <setting id="username" type="text" label="30003" default="" visible="eq(-1,false)"/>
        <setting id="password" type="text" option="hidden" label="30004" default="" visible="eq(-2,false)"/>
    </category>
    <!-- Affichage -->
    <category label="30006">
        <setting id="show_per_page" type="slider" label="30012" default="30" range="10,10,100" option="int"/>
        <setting id="showseen" type="bool" label="30011" default="true"/>
        <setting id="quality" type="enum" label="30010" lvalues="30014|30015|30016|30017|30018" default="3"/>
        <setting id="csa" type="enum" label="30039" lvalues="30019|30020|30021|30022|30023" default="4"/>
        <setting id="lang" type="labelenum" label="30027" values="fr|ja" default="fr"/>
        <setting id="random" type="bool" label="30030" default="false"/>
        <!--
        <setting id="subs" type="bool" label="30028" default="False"/>
        <setting id="subs_lang" type="labelenum" label="30029" values="fr|ja" default="fr" enable="eq(-1,true)"/>
        -->
    </category>
    <!-- Folders -->
    <category label="30031">
        <setting id="folder.playlist" type="bool" label="30032" default="true"/>
        <setting id="folder.favorite" type="bool" label="30033" default="true"/>
        <setting id="folder.history" type="bool" label="30034" default="true"/>
        <setting id="folder.free_content" type="bool" label="30035" default="true"/>
        <setting id="folder.popular" type="bool" label="30037" default="true"/>
        <setting id="folder.top_rated" type="bool" label="30038" default="true"/>
        <setting label="30036" type="lsep"/>
    </category>

</settings>
