<settings>
  <category label="General">
    <setting id="quality" type="enum" label="30009" lvalues="30010|30011|30012|30013" default="1"/>
    <setting id="view_mode" type="enum" label="30017" lvalues="30018|30019|30020|30021|30022|30023|30024" default="4"/>
    <setting id="is_sponsor" type="bool" label="30014" default="false"/>
    <setting id="username" type="text" label="30015" default="" enable="eq(-1,true)"/>
    <setting id="password" type="text" label="30016" default="" option="hidden" enable="eq(-2,true)"/>
  </category>
</settings>