<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>              
        <category label="General">
         <setting id="select_quality" type="labelenum" label="Qualität" default="hoch" values="niedrig|hoch|beste"/>
        </category>
        <category label="Downloads">
         <setting id="rtmpdump_path" type="file" label="rtmpdump pfad" default=""/>
         <setting id="download_folder" type="folder" label="Download verzeichnis" default=""/>
        </category>
</settings>
