<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- Kodimon General -->
    <category label="30000">

        <!-- Kodimon Login -->
        <setting id="kodion.login.username" type="text" label="30001"/>
        <setting id="kodion.login.password" type="text" label="30002" option="hidden"/>
        <setting type="sep" />

        <!-- Kodimon Visual -->
        <setting id="kodion.fanart.show" type="bool" label="30021" default="true"/>
        <setting id="kodion.search.size" type="enum" label="30023" values="0|10|20|30|40|50" default="5" />
        <setting id="kodion.cache.size" type="slider" label="30024" values="1|2|20|30|40|50" default="5" range="1,25" option="int"/>
    </category>
</settings>