<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- kodion General -->
    <category label="30000">

        <!-- kodion Login -->
        <setting id="login.username" type="text" label="30001"/>
        <setting id="login.password" type="text" label="30002" option="hidden"/>
        <setting type="sep" />

        <!-- kodion Visual -->
        <setting id="addon.fanart.show" type="bool" label="30021" default="true"/>
        <setting id="soundcloud.fanart_dark.show" type="bool" enable="eq(-1,true)" label="30518" default="true"/>
        <setting id="addon.items.per_page" type="enum" label="30022" values="5|10|15|20|25|30|35|40|45|50" default="9" />
        <setting id="addon.search.size" type="enum" label="30023" values="0|10|20|30|40|50" default="1" />
    </category>
    <category label="30031">
        <setting id="view.override" type="bool" label="30026" default="false"/>
        <setting id="view.default" type="number" label="30027" enable="eq(-1,true)" default="50"/>
        <setting id="view.songs" type="number" label="30033" enable="eq(-2,true)" default="50"/>
        <setting id="view.artists" type="number" label="30034" enable="eq(-3,true)" default="50"/>
        <setting id="view.albums" type="number" label="30035" enable="eq(-4,true)" default="50"/>
        <setting type="sep" />
        <setting id="addon.cache.size" type="slider" label="30024" default="5" range="1,1,20" option="int"/>
        <setting id="addon.cache.clear" label="30037" type="bool" default="false"/>
        <setting id="addon.setup" type="bool" label="30025" default="true"/>
    </category>
</settings>