<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    .1)) 
    <category label="30900">
        <setting label="30901" type="file" id="mame_exe_path" default=""/>
        <setting label="30902" type="folder" id="mame_rom_path" default=""/>
        <setting label="30903" type="folder" id="mame_samples_path" default=""/>
    </category>
    <category label="30904">
        <setting label="30905" type="folder" id="mame_titles_path" default="" enable="eq(2,false)"/>
        <setting label="30906" type="bool" id="cache_titles" default="false" enable="eq(1,false)" />
        <setting label="30907" type="bool" id="online_titles" default="false"/>
        <setting label="30908" type="bool" id="hires_titles" default="false" enable="eq(-1,true)" />
        <setting label="30909" type="bool" id="romset_titles" default="false" enable="eq(-2,true)" />
    </category>
    <category label="30910">
        <setting label="30911" type="bool" id="hide_clones" default="false"/>
        <setting label="30912" type="bool" id="hide_notworking" default="false"/>
        <setting label="30913" type="bool" id="hide_nothave" default="false"/>
        <setting label="30933" type="bool" id="hide_impemul" default="false"/>
        <setting label="30934" type="bool" id="hide_impcolor" default="false"/>
        <setting label="30935" type="bool" id="hide_impgraphic" default="false"/>
        <setting label="30936" type="bool" id="hide_impsound" default="false"/>
    </category>
    <category label="30914">
        <setting label="30915" type="labelenum" id="display_view" lvalues="30916|30917|30918|30919"/>
        <setting label="30920" type="labelenum" id="display_rotate" lvalues="30921|30922|30923|30924"/>
        <setting label="30925" type="bool" id="display_backdrops" default="true"/>
        <setting label="30926" type="bool" id="display_overlays" default="true"/>
        <setting label="30927" type="bool" id="display_bezels" default="true"/>
        <setting label="30928" type="bool" id="display_zoom" default="false"/>
    </category>
    <category label="30929">
        <setting label="30930" type="action" id="a1" option="close" action="XBMC.RunPlugin(plugin://plugin.games.xbmame?action=1)"/>
        <setting label="30931" type="action" id="a2" option="close" action="XBMC.RunPlugin(plugin://plugin.games.xbmame?action=2)"/>
        <setting label="30932" type="action" id="a3" option="close" action="XBMC.RunPlugin(plugin://plugin.games.xbmame?action=3)"/>
    </category>
</settings>

