<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

  <category label="30014">
    <setting type="sep" />
    <setting id="bitrate" type="enum" lvalues="30005|30006|30007|30008|30009|30010|30011|30012|30013" label="30004" default="8"/>

  </category>

  <category label="30073">
		<setting type="sep" />
		<setting id='enable_views' type ="bool" label="30070" default="false"/>
		<setting id="default_view" type="text" label="30071" default="50" enable="!eq(-1,false)"/>
		<setting id="episode_view" type="text" label="30072" default="50" enable="!eq(-2,false)"/>
		<setting type="sep" />
  </category>



	<category label="30030">
		<setting type="sep" />
		<setting id="us_proxy_enable" type="bool" label="30042" default="false"/>
		<setting id="us_proxy" type="text" label="30040" default=""/>
		<setting id="us_proxy_port" type="text" label="30041" default=""/>
		<setting id="us_proxy_user" type="text" label="30043" default=""/>
		<setting id="us_proxy_pass" type="text" label="30044" default=""/>
		<setting type="sep" />
	</category>
</settings>
