<settings>
  <setting id="playback" type="enum" lvalues="30015|30016|30017|30018" label="30014" default="1" />
  <setting id="twit_live" label="30001" type="enum" lvalues="30003|30004|30005|30006|30007|30008|30009|30010|30011|30012|30013" default="4" />
  <setting id="debug" type="bool" label="30019" default="false" />
  <setting id="first_run" type="bool" visible="false" default="true" />
</settings>