<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
  <category label="Settings">
    <setting id="rt_res" type="enum" label="Live Stream Quality" values="Auto|720p|480p|320p|240p" default="0" />
    <setting id="auto_play" type="bool" label="Auto Play RT Live" default="false" />
  </category>
</settings>