<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<category>
		<!-- ViewModes -->
		<setting label="$ADDON[script.module.xbmcutil 32921]" type="action" action="RunScript(plugin.video.earthtouch, setViewMode, folder)"/>
		<setting label="$ADDON[script.module.xbmcutil 32922]" type="action" action="RunScript(plugin.video.earthtouch, setViewMode, video)"/>
	</category>
</settings>