<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30247">
    <setting id="user_email" type="text" label="30200" default="" />
    <setting id="user_password" type="text" option="hidden" label="30201" enable="!eq(-1,)" default="" />
    <setting type="sep" /> 
    <setting id="hd_videos" type="enum" label="30208" lvalues="30215|30217|30216" default="1" />
    <setting id="downloadPath" type="folder" label="30207" default="" />
    <setting type="sep" />
    <setting id="perpage" type="enum" label="30210" values="10|15|20|25|30|40|50" default="6" />
    <setting id="saved_searches" type="enum" label="30211" values="10|20|30|40" default="3" />
    <setting id="notification_length" type="enum" label="30214" values="5|10|15|20|25|30" default="1" />
  </category>
  
  <!-- Folders -->
  <category label="30227">
    <setting id="explore" type="bool" label="30001" default="true" />
    <setting id="my_likes" type="bool" label="30002" default="true" />
    <setting id="my_contacts" type="bool" label="30012" default="true" />
    <setting id="my_albums" type="bool" label="30009" default="true" />
    <setting id="my_groups" type="bool" label="30010" default="true" />
    <setting id="subscriptions" type="bool" label="30003" default="true" />
    <setting id="my_videos" type="bool" label="30005" default="true" />
    <setting id="downloads" type="bool" label="30032" default="true" />
    <setting id="search" type="bool" label="30006" default="true" />
    <setting id="playbyid" type="bool" label="30008" default="true" />
  </category>
  
  <!-- Advanced -->
  <category label="30228">
  	<setting id="list_view" type="enum" label="30221" lvalues="30229|30230|30231" default="0" />
    <setting id="hd_videos_download" type="enum" label="30222" lvalues="30223|30216|30215" default="0" />
    <setting id="debug" type="bool" label="30218" default="false" />
    <setting id="high_quality_thumbs" label="30226" default="false" />
  </category>
</settings>
