<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30080">
		<setting id="quality"  type="enum" label="30204" default="1"   lvalues="30205|30206" />
		<setting id="video_player"  type="enum" label="30200" default="0"   lvalues="30201|30202|30203" />
	</category>
	<category label="30089">
		<setting id="thanks"        type="text" label="30100" default="Dan Dar3 (http://dandar3.blogspot.com)" enable="false" />
		<setting id="author"        type="text" label="30101" default="Daniel Jolly" enable="false" />
		<setting id="website"       type="text" label="30102" default="http://www.danieljolly.com" enable="false" />  		
	</category>
</settings>
