<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="30015">
		<setting type="sep" />
		<setting id="enable_login" type ="bool" label="30018" default="false"/>
  	     <setting id="login_name" type="text" label="30016" enable="!eq(-1,false)" default=""/>
	     <setting id="login_pass" type="text" label="30017" enable="!eq(-1,)" option="hidden" default=""/>
	     <setting id="pbsol" type="text" label="30019" enable="false" default=""/>
		<setting type="sep" />
	</category>

	<category label="30000">
		<setting type="sep" />
     		<setting id="vid_res" type="enum" label="30000" lvalues="30001|30002|30003" default="2" />
		<setting type="sep" />
	</category>

</settings>
