<settings>
	 <category label="30001">
	   <setting id="numberOfShowsPerPage" type="number" label="30004" default="10"/>
	</category>
	 <category label="30010">
	   <setting id="consumerKey" type="text" label="30012" />
	   <setting id="consumerSecret" type="text" label="30013" />
	</category>
</settings>