<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Login-->
  <category label="30100">
    <setting id="username" type="text" label="30140" default=""/>
    <setting id="password" type="text" label="30150" option="hidden" default=""/>
    <setting label="30156" type="action" action="RunPlugin(plugin://plugin.video.nhlgcl/?url=junk&amp;mode=400)" option="close" />
  </category>
  <category label="30159">
    <setting id="time_format" type="select" label="30200" lvalues="32000|32001" default="0" />
  </category>
</settings>
