<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!--Login-->
  <category label="30100">
    <setting id="cdn" type="labelenum" label="30110" values="Akamai|Level 3|No Preference" default="No Preference"/>
    <setting id="username" type="text" label="30140" default=""/>
    <setting id="password" type="text" label="30150" option="hidden" default=""/>
    <setting id="rogers" type="bool" label="30155" default="false" />
    <setting label="30156" type="action" action="RunPlugin(plugin://plugin.video.nhlgcl/?url=junk&amp;mode=400)" option="close" />
  </category>
  <category label="30159">
    <setting id="stream_quality" type="labelenum" label="30160" values="SD (800 kbps)|SD (1200 kbps)|HD (2500 kbps)|HD (3500 kbps)|HD (5600 kbps)|Best Available|Always Ask" default="Best Available" />
    <setting id="no_spoilers" type="enum" label="30170" lvalues="31700|31701|31702|31703|31704" />
    <setting id="fav_team" type="labelenum" label="30180" default="None" values="None|Winnipeg|Washington|Vegas|Vancouver|Toronto|Tampa Bay|St. Louis|San Jose|Ottawa|Pittsburgh|Philadelphia|New York Rangers|New York Islanders|New Jersey|Nashville|Montréal|Minnesota|Los Angeles|Florida|Edmonton|Detroit|Dallas|Columbus|Colorado|Chicago|Carolina|Calgary|Buffalo|Boston|Arizona|Anaheim" />
    <setting id="team_names" type="select" label="30190" lvalues="31900|31901|31902|31903" default="0" />
    <setting id="time_format" type="select" label="30200" lvalues="32000|32001" default="0" />
    <setting id="game_preview_info" type="bool" label="30250" default="false" />

    <!-- Create Game Thumbnails -->
    <setting label="30251" type="action" action="RunPlugin(plugin://plugin.video.nhlgcl?url=junk&amp;mode=515)" option="close" />

    <setting id="stream_date" type="text" label="30900" default="" visible="false"/>
    <setting id="session_key" type="text" label="30902" default="" visible="false"/>
    <setting id="media_auth" type="text" label="30903" default="" visible="false"/>
    <setting id="view_mode" type="text" label="30904" default="504" visible="false"/>

    <!-- Fav team variables -->
    <setting id="fav_team_name" type="text" label="30990" default="" visible="false"/>
    <setting id="fav_team_id" type="text" label="30991" default="" visible="false"/>
    <setting id="fav_team_color" type="text" label="30992" default="" visible="false"/>
    <setting id="fav_team_logo" type="text" label="30993" default="" visible="false"/>
  </category>
</settings>
