* text=auto !eol
/LICENSE.txt -text
/addon.xml -text
/default.py -text
/icon.png -text
resources/language/English/strings.xml -text
resources/settings.xml -text
resources/urllib3/__init__.py -text
resources/urllib3/_collections.py -text
resources/urllib3/connectionpool.py -text
resources/urllib3/contrib/__init__.py -text
resources/urllib3/contrib/ntlmpool.py -text
resources/urllib3/exceptions.py -text
resources/urllib3/filepost.py -text
resources/urllib3/packages/__init__.py -text
resources/urllib3/packages/mimetools_choose_boundary/__init__.py -text
resources/urllib3/packages/six.py -text
resources/urllib3/packages/ssl_match_hostname/__init__.py -text
resources/urllib3/poolmanager.py -text
resources/urllib3/request.py -text
resources/urllib3/response.py -text
resources/urllib3/util.py -text
resources/workerpool/QueueWrapper.py -text
resources/workerpool/__init__.py -text
resources/workerpool/exceptions.py -text
resources/workerpool/jobs.py -text
resources/workerpool/pools.py -text
resources/workerpool/workers.py -text
