<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting id="itemsPerPage" label="30101" type="slider" subsetting="true" default="50" range="15,1,100" option="int"/>
    </category>

    <setting id="email" type="text" default=""/>
    <setting id="token" type="text" default=""/>
    <setting id="metadata" type="text" default=""/>
</settings>
