<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
   <setting id="username"  type="text" label="30050"/>
   <setting id="password"  type="text" label="30051" option="hidden"/>
   <setting id="mso" type="labelenum" label="30052" values="Sportsnet|Rogers|ShawGo|Telus|Cogeco" default="Sportsnet" />
</settings>
