<?xml version="1.0" ?>
<settings version="1">
	<section id="plugin.video.rsiplaytv">
		<category id="General" label="30010" help="">
			<group id="1">
				<setting id="Prefer_HD" type="boolean" label="30002" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Extract_Subtitles" type="boolean" label="30004" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
				<setting id="Enable_Debugging" type="boolean" label="30000" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="Main_Menu" label="30012" help="">
			<group id="1">
				<setting id="All_Shows" type="boolean" label="30050" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Favourite_Shows" type="boolean" label="30051" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Newest_Favourite_Shows" type="boolean" label="30052" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Homepage" type="boolean" label="30060" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Topics" type="boolean" label="30058" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Shows_By_Date" type="boolean" label="30057" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Most_Searched_TV_Shows" type="boolean" label="30059" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="Search" type="boolean" label="30085" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
				<setting id="RSI_YouTube" type="boolean" label="30074" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
		<category id="Favourites" label="30011" help="">
			<group id="1">
				<setting id="Manage_Favourite_Shows" type="action" label="30005" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.rsiplaytv?mode=19)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
