<settings>
  <category label="General">
    <setting id="show_scores" type="bool" label="30012" default="false"/>
    <setting id="debug" type="bool" label="30089" default="false"/>
  </category>
  <category label="MLB.TV">
    <setting id="email" type="text" label="30085" default=""/>
    <setting id="password" type="text" label="30086" default="" option="hidden"/>
    <setting id="scenario" type="select" label="30087" values="2400K|1800K|1200K|800K|500K|300K" default="2400K"/>
    <setting id="archive_scenario" type="select" label="30088" values="FLASH_1200K_800X448|FLASH_800K_400X448|FLASH_500K_400X224|FLASH_128K_256X144" default="FLASH_1200K_800X448"/>
  </category>  
</settings>