<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30200">
    <setting id="username" type="text" label="30201" />
    <setting id="password" type="text" label="30202" option="hidden" />
    <setting type="sep" />
    <setting id="sub_dub" type="enum" label="30203" lvalues="30204|30205|30206" default="0" />
    <setting id="video_quality" type="enum" label="30207" lvalues="30208|30209|30210" default="1" />
  </category>

  <!-- Advanced -->
  <category label="30220">
    <setting id="loglvl" type="enum" label="30221" lvalues="30232|30231|30230|30229" default="1" />
    <setting type="sep" />
    <setting label="30228" type="action" action="RunScript($CWD/resources/lib/clear_cookies.py)"/>
  </category>

</settings>
