<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- General -->
  <category label="30200">
    <setting id="username" type="text" label="30201" />
    <setting id="password" type="text" label="30202" option="hidden" />
    <setting type="sep" />
    <setting id="sub_dub" type="enum" label="30204" lvalues="30205|30206|30207" default="0" />
    <setting type="sep" />
    <setting id="enable_cache" type="bool" label="30203" default="true" />
    <setting id="cache_time" type="number" label="30217" default="24" />
  </category>

  <!-- Advanced -->
  <category label="30210">
    <setting id="notification_length" type="enum" label="30216" values="1|2|3|4|5|6|7|8|9|10" default="2" />
    <setting type="sep" />
    <setting id="loglvl" type="enum" label="30211" lvalues="30219|30220|30221|30222|30223" default="0" />
    <setting type="sep" />
    <setting label="30218" type="action" action="RunScript($CWD/resources/lib/scripts/clear_cache.py)"/>
  </category>

</settings>
