########################################################
# 3sat mediathek VideoPortal
########################################################
#start=http://www.3sat.de/mediathek/mediathek.php?more=&mode=
start=http://www.3sat.de/mediathek/mediathek.php?mode=red
catcher=3sat.de
########################################################
# Videos
########################################################
#item_infos=<td +class="thumxbimg"><a href="(/mediathek/mediathek\.php\?obj=(\d+))"><img[^>]+></a></td><td[^>]+[^<]+<div class="thumbtxt">.+?<span class="thumb" *>([^<]+)</span>([^<]+)</a><[^>]+>.+?((\d+:\d+))
#item_order=url|icon|title|titlepart1.tmp|titlepart2.tmp|duration
#item_info_name=icon
#item_info_build=http://www.3sat.de/dynamic/mediathek/stills/%s_big.jpg
#item_info_name=title.append.append
#item_info_from=titlepart2.tmp
#item_info_build= (%s)
#item_info_name=title.append
#item_info_from=titlepart1.tmp
#item_info_build=- %s
#item_info_name=type
#item_info_build=video
#item_url_build=http://www.3sat.de%s
########################################################
item_infos=<td +class="media_result_thumbtxt" *><a href="(/mediathek/mediathek\.php\?obj=(\d+))" class="media_result_thumb_txt" >.+?<span >([^<]+)</span><br /><span class="thumb">Video</span>.+?((\d+:\d+))[^\(]+\(([^<]+)
item_order=url|icon|title|title.append|duration|genre
item_info_name=icon
item_info_build=http://www.3sat.de/dynamic/mediathek/stills/%s_big.jpg
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.3sat.de%s&amp;mode=play
########################################################
# Categories
########################################################
#item_infos=<td class="head_selected" *><img src="/images/white.gif"[^<]+<a href="(/mediathek/mediathek\.php[^"]+)" class="teaserleiste_kopf">([^L][^<]+)</a></td>
#item_order=url|title
#item_skill=directory
#item_curr=<td class="head_default" *><img src="/images/white.gif"[^<]+<a href="/mediathek/mediathek\.php[^"]+" class="teaserleiste_kopf">([^L][^<]+)</a></td>
#item_info_name=title
#item_info_build=video.monkey.locale|30100
#item_info_name=icon
#item_info_build=category.png
#item_url_build=http://www.3sat.de%s
########################################################
# Subcategories
########################################################
#item_infos=<td class="teaser_kopf_default" *><img src="/images/white.gif"[^<]+<a href="(/mediathek/mediathek\.php[^"]+)" class="teaserleiste_kopf">([^F][^<]+)</a></td>
#item_order=url|title
#item_skill=directory
#item_curr=<td class="teaser_kopf_selected" *><img src="/images/white.gif"[^<]+<a href="/mediathek/mediathek\.php[^"]+" class="teaserleiste_kopf">([^F][^<]+)</a></td>
#item_info_name=title
#item_info_build=video.monkey.locale|30101
#item_info_name=icon
#item_info_build=subcategory.png
#item_url_build=http://www.3sat.de%s
########################################################
# Feeds
########################################################
item_infos=<td +class="media_result_thumbimg"><a href="(/mediathek/mediathek\.php[^"]+)"[^>]+><span class="popup"><img src="(/dynamic/mediathek/images/[^"]+)".+?<span class="thumb">([^<]+)</span>([^<]+)</span><br /><span class="normal">([^<]+)</span></a>
item_order=url|icon|title|title.append|genre
item_info_name=title.append
item_info_build= -%s
item_info_name=icon
item_info_build=http://www.3sat.de%s
item_info_name=overlay.int.once
item_info_build=1
item_url_build=http://www.3sat.de%s
########################################################
item_infos=<img src="(/dynamic/mediathek/images/m_3sat.jpg)" class="media_result_thumb"[^>]+></a></td><td +class="media_result_thumbtxt"><a href="(/mediathek/mediathek\.php[^"]+)"[^>]+><span >([^<]+)</span><br /></a>
item_order=icon|url|title
item_info_name=icon
item_info_build=http://www.3sat.de%s
item_info_name=overlay.int.once
item_info_build=1
item_url_build=http://www.3sat.de%s
########################################################
# Sorting
########################################################
item_infos=<a href="(/mediathek/mediathek\.php[^"]+)" class="menulink_nohover">([AG][^<]+)</a>
item_order=url|title
item_skill=space
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.3sat.de%s
########################################################
# Next
########################################################
item_infos=<a href="(/mediathek/mediathek\.php[^"]+)" class="right" *>Seite vor
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.3sat.de%s
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://www.3sat.de/mediathek/mediathek.php?mode=search&rubrik=&red=&more=aktuell&query_order=&query_filter=&query_sort=&query=%s&query_time=&offset=
########################################################
