########################################################
# ARD mediathek VideoPortal
########################################################
start=http://mediathek.daserste.de/daserste/servlet/
catcher=ard.de
########################################################
# Videos
########################################################
item_infos=<div class="teaser">[^<]+<div class="content">[^<]+<div class="image"><img src="(/daserste/servlet/[^"]+)" alt="[^>]+></div>[^<]+<h3>([^<]+)</h3>[^<]+<p class="desc">([^<]+)</p>[^<]+<p class="info">(((\d\d\.\d\d\.\d\d)) \| ([^<]+))</p>[^<]+</div>[^<]+<a class="teaserLink" href="(/daserste/servlet/content/[^"]+)"></a>
item_order=icon|title|spot|genre|date|title.append|duration|url
item_info_name=icon
item_info_build=http://mediathek.daserste.de%s
item_info_name=title.append
item_info_from=date
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://mediathek.daserste.de%s
########################################################
item_infos=<div class="teaser">[^<]+<div class="content">[^<]+<div class="image"><img src="(/daserste/servlet/[^"]+)" alt="[^>]+></div>[^<]+<h3>([^<]+)</h3>[^<]+<p class="desc">([^<]+)</p>[^<]+<p class="info">(((\d\d\.\d\d\.\d\d)))</p>[^<]+</div>[^<]+<a class="teaserLink" href="(/daserste/servlet/content/[^"]+)"></a>
item_order=icon|title|spot|genre|date|title.append|url
item_info_name=icon
item_info_build=http://mediathek.daserste.de%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://mediathek.daserste.de%s
########################################################
# Categories
########################################################
item_infos=<li>[^<]+<a class="[^"]+" href="(/daserste/servlet/content/[^"]+)" title="[^"]+"><span>(.[^U][^P][^<]+)</span></a>[^<]+</li>
item_order=url|title
item_skill=space
item_curr=<li class="active">[^<]+<a class="[^"]+" href="/daserste/servlet/content/\d+" title="[^"]+"><span>(.[^U][^P][^<]+)</span></a>[^<]+</li>
item_info_name=icon
item_info_build=category.png
item_url_build=http://mediathek.daserste.de%s
########################################################
item_infos=<li><a href="(/daserste/servlet/content/\d+\?pageId=[^"]+)"><span class="title">([^<]+)</span><span class="count">(\d+)</span></a></li>
item_order=url|title|title.append
item_info_name=title.append
item_info_build= (%s Beiträge)
item_info_name=icon
item_info_build=subcategory.png
item_url_build=http://mediathek.daserste.de%s
########################################################
item_infos=href="(/daserste/servlet/content/[^"]+)" class="teaser_b_\d">[^<]+<span>([^<]+)</span>[^<]+<span class="corner cLeft"></span>[^<]+<span class="corner cRight"></span>
item_order=url|title.append
item_skill=space
item_info_name=title.append
item_info_build= (%s)
item_info_name=title
item_info=<h2>([^<]+)</h2>[^<]+<div class="tabs">
item_info_build=%s
item_info_name=icon
item_info_build=star.png
item_url_build=http://mediathek.daserste.de%s
########################################################
item_infos=<a href="(/daserste/servlet/content/[^"]+)" class="sb_b_\d">[^<]+<span>([^<]+)</span>[^<]+<span class="corner cLeft"></span>[^<]+<span class="corner cRight"></span>
item_order=url|title
item_curr=<a id="sb" href="/daserste/servlet/content/[^"]+" class="sb_b_\d">[^<]+<span>([^<]+)</span>[^<]+<span class="corner cLeft"></span>[^<]+<span class="corner cRight"></span>
item_skill=space
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://mediathek.daserste.de%s
########################################################
item_infos=<div class="teaser">[^<]+<div class="content">[^<]+<img class="image" src="(/daserste/servlet/[^"]+)" alt="[^>]+>[^<]+<h3>([^<]+)</h3>[^<]+<p class="desc">([^<]+)</p>[^<]+</div>[^<]+<a class="teaserLink" href="(/daserste/servlet/[^"]+)"></a>[^<]+</div>
item_order=icon|title|spot|url
item_info_name=icon
item_info_build=http://mediathek.daserste.de%s
item_info_name=overlay.int.once
item_info_build=1
item_url_build=http://mediathek.daserste.de%s
########################################################
# Next
########################################################
item_infos=<a class="next" href="(/daserste/servlet/[^"]+)"></a>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://mediathek.daserste.de%s
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://mediathek.daserste.de/daserste/servlet/content/487948?s=%s
########################################################
