########################################################
# Arte VideoPortal
########################################################
start=http://www.arte.tv/de/Videos-auf-ARTE-TV/2151166.html
catcher=arte.tv
player=mplayer
skill=redirect
########################################################
# Videos
########################################################
item_infos=<div class="shadow_img" onclick="window.location.href='/[^']+'; return false;"><a href="(/[^"]+)" title="[^>]+><img src="(/[^"]+)" alt="([^"]+)" */></a></div>
item_order=url|icon|title
item_info_name=icon
item_info_build=http://www.arte.tv%s
item_info_name=type
item_info_build=video
item_url_build=http://www.arte.tv%s
########################################################
item_infos=<div class="conten[^"]+">[^>]+<a href="(/[^"]+)">[^<]+<img src="(/[^"]+)[^>]+></a>[^>]+<h3><a href="[^"]+">(.*?)</a></h3>[^<]+<p class="subtitle"><a href="[^"]+">([^<]+)</a></p>
item_order=url|icon|title|title.append
item_info_name=icon
item_info_build=http://www.arte.tv%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.arte.tv%s
########################################################
item_infos=<div class="conten[^"]+">[^>]+<h3><a href="(/[^"]+)">(.*?)</a></h3>[^<]+<p class="subtitle"><a href="[^"]+">([^<]+)</a></p>
item_order=url|title|title.append
item_info_name=icon
item_info_build=video.png
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.arte.tv%s
########################################################
item_infos=<video>.*?<index>(.*?)</index>.*?<bigTitle>(.*?)</bigTitle>.*?<startDate>((..........)).*?</startDate>.*?<previewPictureURL>(.*?)</previewPictureURL>.*?<targetURL>(.*?)</targetURL>.*?</video>
item_order=title|title.append|date|genre|icon|url
item_info_name=title
item_info_build=%s - 
item_info_name=type
item_info_build=video
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<li class="ui-tabs-selected"><a href="(/[^"]+)" title="fragment[^>]+><span>(([^<]+))</span></a></li>
item_order=url|title|genre
item_skill=directory
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=http://www.arte.tv%s
########################################################
# Sorting
########################################################
item_infos=<a href="(/[^"]+)" title="n(ach ..... sortieren)"
item_order=url|title
item_skill=space
item_info_name=title
item_info_build=N%s
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.arte.tv%s
########################################################
# Next
########################################################
item_infos=<a href="/[^"]+" title="[^"]+" class="selected page_link trigger">[^<]+</a>[^<]+<a href="(/[^"]+)" title="[^"]+" class="page_link trigger"
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.arte.tv%s
########################################################
# Direct links
########################################################
title= arte+7 
type=once
icon=arte_plus7.png
director=arte+7
overlay.int.once=1
url=http://plus7.arte.tv/de/streaming-home/1698112,templateId=renderCarouselXml,CmPage=1697480,CmPart=com.arte-tv.streaming.xml
########################################################
# Country specific
########################################################
title=video.monkey.locale|30104
type=once
icon=locale.png
url=more.arte.list
########################################################
