########################################################
# BR-Online Videothek
########################################################
start=http://www.br-online.de/br-mediathek/video/br-mediathek_audio_on-demand_ID1200409693036.xml
catcher=br.de
########################################################
# Videos
########################################################
item_infos=<a href="(/[^"]+)"[^c]+class=" *video"[^>]+>[^<]+<span class="termin">([^<]+)</span>[^<]+<em>([^<]+)</em>[^<]+<span class="versteckt">[^<]+</span>([^<]+)</a>
item_order=url|title.append.append|title.append|title
item_info_name=title.append.append
item_info_build=, %s
item_info_name=title.append
item_info_build= - %s
item_info_name=icon
item_info=<img src="(/content/[^"]+)"[^>]+[^<]+<[^>]+>[^<]+</a>[^<]+<p>[^<]+<a href="%s"
item_info_default=video.png
item_info_build=http://www.br-online.de%s
item_info_name=type
item_info_build=video
item_url_build=http://www.br-online.de%s
########################################################
item_infos=<a href="(/[^"]+)"[^c]+class=" *video"[^>]+>[^<]+<img src="/image/icon/video\.gif"[^>]+>[^<]+<strong>alpha\-Centauri\: </strong>([^<]+)</a>
item_order=url|title
item_info_name=icon
item_info=<img src="(/content/[^"]+)"[^>]+[^<]+<[^>]+>[^<]+</a>[^<]+<p>[^<]+<a href="%s"
item_info_default=video.png
item_info_build=http://www.br-online.de%s
item_info_name=type
item_info_build=video
item_url_build=http://www.br-online.de%s
########################################################
item_infos=<a href="(/[^"]+)"[^c]+class=" *video"[^>]+>[^<]+<em>[^>]+>[^>]+>[^>]+>([^<]+)</a>
item_order=url|title
item_info_name=icon
item_info=<img src="(/content/[^"]+)"[^>]+[^<]+<[^>]+>[^<]+</a>[^<]+<p>[^<]+<a href="%s"
item_info_default=video.png
item_info_build=http://www.br-online.de%s
item_info_name=type
item_info_build=video
item_url_build=http://www.br-online.de%s
########################################################
# Categories
########################################################
item_infos=</span>[^<]+</a>[^<]+</h3>[^<]+<a href="(/[^"]+)"[^c]+class="[^"]+"[^t]+title="mehr zum Thema: alpha-Centauri - ([^"]+)"[^>]+>.*?<img src="(/content/[^"]+)"
item_order=url|title|icon
item_info_name=icon
item_info_default=video.png
item_info_build=http://www.br-online.de%s
item_url_build=http://www.br-online.de%s
########################################################
# Direkt links
########################################################
title= alpha-Centauri - Sterngucken mit Professor Lesch 
type=once
icon=alpha_centauri.png
director=Alpha Centauri
overlay.int.once=1
url=http://www.br-online.de/br-alpha/alpha-centauri/alpha-centauri-harald-lesch-videothek-ID1207836664586.xml
########################################################
