########################################################
# Computer:club² episodes
########################################################
start=http://www.cczwei.de/index.php?id=tvissuearchive
catcher=cc2.de
########################################################
# Videos
########################################################
item_infos=<SPAN CLASS="header">(((\d\d\.\d\d\.\d\d\d\d))).+?<a href="index\.php\?id=tvissuearchive&amp;tvissueid=(\d+).+?(Folge \d+)
item_order=date|genre|title.append|url|title
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=cc2_nrwtv.png
item_info_name=type
item_info_build=video
item_url_build=http://www.cczwei.de/index.php?id=tvissuearchive&tvissueid=%s
########################################################
item_infos=<option Value="(\d+)\.\d+">([^\(]+)\(([^\)]+)\)</option>
item_order=url|title.append|title
item_info_name=title.append
item_info_build= - %s
item_info_name=icon
item_info_build=video.png
item_info_name=type
item_info_build=video
item_url_build=http://www.cczwei.de/index.php?id=tvissuearchive&tvissueid=%s
########################################################
# Direct links
########################################################
#title= Audiosendungen 
#type=once
#icon=cc2_audio.png
#url=http://www.cczwei.de/index.php?id=issuearchive
########################################################
