########################################################
# ClipFish VideoPortal
########################################################
start=http://www.clipfish.de/videos/
catcher=degrab.de
########################################################
# Videos
########################################################
item_infos=<li id="cf-video-item.+?href="(/video/[^"]+).+?<div class="cf-video-list-item-image.+?<img.+?src="([^"]+).+?alt="(.+?)-Video.+?Video-L&auml;nge[^>]+>([^<]+)
item_order=url|icon|title|duration
item_info_name=type
item_info_build=video
item_url_build=http://www.clipfish.de%s
########################################################
# Categories
########################################################
item_infos=<a class="cf-category-label" href="(/kategorien/[^"]+)">([^<]+)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=http://www.clipfish.de%s
########################################################
# Subcategories
########################################################
item_infos=<option value="(/kategorien/[^"]+)" *>([^<]+)</option>
item_order=url|title
item_skill=directory
item_curr=<option value="/kategorien/[^"]+" selected="selected" *>([^<]+)</option>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.clipfish.de%s
########################################################
item_infos=<option value="(/videos/[^"]+)" *>([^<]+)</option>
item_order=url|title
item_skill=directory
item_curr=<option value="/videos/[^"]+" selected="selected" *>([^<]+)</option>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.clipfish.de%s
########################################################
item_infos=<option value="(/suche/[^"]+)" *>([^<]+)</option>
item_order=url|title
item_skill=directory
item_curr=<option value="/suche/[^"]+" selected="selected" *>([^<]+)</option>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.clipfish.de%s
########################################################
# Next
########################################################
item_infos=<a href="(http[^"]+)" class="cf-page-stepper-next cf-uppercase">
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=%s
########################################################
item_infos=<a href="(/[^"]+)" class="cf-page-stepper-next cf-uppercase">
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.clipfish.de%s
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://www.clipfish.de/suche/?search=%s
########################################################
