########################################################
# Dailymotion (es) VideoPortal
########################################################
start=http://www.dailymotion.com/es/1
header=Cookie|lang=es_ES
catcher=keepclip.de
skill=store
########################################################
# Videos
########################################################
item_infos=<div class="dmpi_video_preview.*?>[^<]+<a class="dmco_simplelink preview_link id_\d+ dmco_simplelink dmco_link" href="([^"]+)".*?>[^<]+<img src="(http[^"]+)" alt="" class="dmco_image image_border" title="([^"]+)".+?<div class="dmco_text duration">(([^<]+))</div>.+?<div class="dmco_date">([^<]+)</div>
item_order=url|icon|title|title.append|duration|date
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.dailymotion.com%s
########################################################
# Categories
########################################################
item_infos=href="(http[^"]+)">(\w+[^"]+)</a></li><li><a class="
item_order=url|title
item_skill=directory
item_curr=<a class="dmco_simplelink dmco_simplelink dmco_link" href=[^>]+>([^<]+)</a>
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=%s
########################################################
# Subcategories
########################################################
item_infos=<option value="(/[^"]+)">([^<]+)</option>
item_order=url|title
item_skill=directory
item_curr=<option value="/[^"]+" selected="selected">([^<]+)</option>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.dailymotion.com%s
########################################################
# Next
########################################################
item_infos=<div class="next">[^<]+<a class="[^"]+l" title="[^"]+" href="([^"]+)">
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.dailymotion.com%s
########################################################
# Country specific
########################################################
title=video.monkey.locale|30104
type=once
icon=locale.png
url=more.dailymotion.list
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://www.dailymotion.com/videos/relevance/search/%s
########################################################
