########################################################
# fxguidetv episodes
########################################################
start=http://www.fxguide.com/fxguidetv.html
########################################################
# Videos
########################################################
item_infos=<b>fxguidetv #0*0*(\d+).+?<a href="([^"]+)" title="Watch".+?<em>(([^<]+))</em>  - (([^<]+))
item_order=title|url|date|title.append|plot|genre
item_info_name=title.append
item_info_build= (%s)
item_info_name=title
item_info_build=Episode %s, High Bandwidth
item_info_name=extension
item_info_build=mov
item_info_name=type
item_info_build=direct.video
item_url_build=%s
########################################################
item_infos=<b>fxguidetv #0*0*(\d+).+?<a href="([^"]+)" title="Watch"[^>]+>Watch Low.+?<em>(([^<]+))</em>  - (([^<]+))
item_order=title|url|date|title.append|plot|genre
item_info_name=title.append
item_info_build= (%s)
item_info_name=title
item_info_build=Episode %s, Low Bandwidth
item_info_name=extension
item_info_build=m4v
item_info_name=type
item_info_build=direct.video
item_url_build=%s
########################################################
