########################################################
# Myspass VideoPortal
########################################################
start=http://www.myspass.de/de/shows/index.html
catcher=degrab.de
########################################################
# Videos
########################################################
item_infos=<div class="video[^>]+>[^<]+<div[^\(]+\('(http://[^']+)'\)[^>]+>[^<]+<a href="([^\?]+\?id=\d+)" title="([^"]+)">
item_order=icon|url|title
item_info_name=type
item_info_build=video
item_url_build=http://www.myspass.de%s
########################################################
# Categories
########################################################
item_infos=<li><a href="(/de/[^"]+)"><img src="http://static\.myspass\.de/myspass/media/images/navi/[^_]+\_off\.jpg" alt="([^C][^p]..[^"]+)" /></a></li>
item_order=url|title
item_skill=directory
item_curr=<li><a href="/de/[^"]+"><img src="http://static\.myspass\.de/myspass/media/images/navi/[^\_]+\_active\.jpg" alt="([^C][^p]..[^"]+)" /></a></li>
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=http://www.myspass.de%s
########################################################
item_infos=<div class="showslide[^>]+>.+?<a href="([^"]+)"><img src="(http://static\.myspass\.de/myspass/[^"]+)" alt="" /></a>[^<]+<div[^>]+></div>[^<]+<p>([^<]+)</p>
item_order=url|icon|title
item_url_build=http://www.myspass.de%s
########################################################
item_infos=<script type="text/javascript[^>]+>[^S]+StartAjaxHTTP\('(/de/[^']+)','videolist\_ajax'
item_order=url
item_skill=recursive
item_info_name=icon
item_info_build=video.png
item_url_build=http://www.myspass.de%s
########################################################
item_infos=<script type="text/javascript[^>]+>[^S]+StartAjaxHTTP\('/de' \+ '(/ajax/[^\&]+)[^']+','getvideolist'
item_order=url
item_skill=recursive
item_info_name=icon
item_info_build=video.png
item_url_build=http://www.myspass.de/de%s
########################################################
item_infos=<a href="(/myspass/portal/macros/[^"]+)">([^<]+)</a></div>
item_order=url|title
item_skill=space
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.myspass.de%s
########################################################
# Subcategories
########################################################
item_infos=<li><a href="([^"]+)">([EKMW][^e][^<]+)</a></li>
item_order=url|title
item_skill=directory
item_curr=<li><a href="[^"]+" class="active">([EKMW][^e][^<]+)</a></li>
item_info_name=title
item_info_build=video.monkey.locale|30101
item_info_name=icon
item_info_build=subcategory.png
item_url_build=http://www.myspass.de%s
########################################################
item_infos=<li class="others"><a href="(/de/[^"]+)">([^STW][^y][^<]+)</a></li>
item_order=url|title
item_skill=space
item_info_name=title
item_info_build=video.monkey.locale|30101
item_info_name=icon
item_info_build=subcategory.png
item_url_build=http://www.myspass.de%s
########################################################
item_infos=onclick="StartAjaxHTTP\('(/de/[^']+)','videolist\_ajax'[^"]+">([^<]+)</a></p>
item_order=url|title
item_skill=space
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.myspass.de%s
########################################################
item_infos=<li class="first"><a href="(/de/[^"]+)">([^S][^y][^<]+)</a></li>
item_order=url|title
item_skill=directory
item_curr=<li class="others active">([^<]+)</li>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.myspass.de%s
########################################################
# Next
########################################################
item_infos=<a href="(/[^"]+)">weiter
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.myspass.de%s
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://www.myspass.de/de/list/videos?pattern=%s
########################################################
