########################################################
# Schweizer Fernsehen VideoPortal
########################################################
start=http://www.sf.tv/podcasts/index.php
########################################################
# Videos
########################################################
item_infos=<div class="box16_right">[^<]+<h1>(..d.o[^<]+)</h1>[^<]+<p>([^<]+)<br */>[^<]+<br */><a +href="(http://podcastsource.sf.tv/.+?)"[^>]+><img src="/img/icon_cr_pod_download.gif" title="Download-Link" alt="" />Download der ..d.odatei.+?<div class="box16_left">[^<]+<img.+?<a +href="([^"]+)"[^>]+>[^>]+<img src="/img/icon_lupe.gif"
item_order=title|spot|url|icon
item_info_name=extension
item_info_build=m4v
item_info_name=type
item_info_build=direct.video
item_url_build=%s
########################################################
item_infos=<div class="box16_right">[^<]+<h1>(..d.o[^<]+)</h1>[^<]+<p>([^<]+)<br */>[^<]+<br */><a +href="(http://podcastsource.sf.tv/.+?)"[^>]+><img src="/img/icon_cr_pod_download.gif" title="Download-Link" alt="" />Download der ..d.odatei.+?<div class="box16_left">[^<]+</div>
item_order=title|spot|url
item_info_name=type
item_info_build=direct.video
item_url_build=%s
########################################################
# Categories
########################################################
item_infos=<div class="box16_right">[^<]+<h1>[^<]+</h1>[^<]+<p>.+?href="(feed.php[^"]+)">Aktuelle Podcasts von *([^<]+)</a>[^<]+</p>[^<]+</div>[^<]+<div class="box16_left">.+?<a +href="([^"]+)"[^>]+>[^>]+<img src="/img/icon_lupe.gif"
item_order=url|title|icon
item_info_name=overlay.int.once
item_info_build=1
item_url_build=http://www.sf.tv/podcasts/%s
########################################################
# Direct links
########################################################
#title= SF Videos 
#type=once
#icon=star.png
#url=http://www.sf.tv/var/videos.php
########################################################
