########################################################
# TVE a la Carta VideoPortal
########################################################
start=http://www.rtve.es/alacarta/todos/recomendados/index.html
catcher=tve.es
########################################################
# Videos
########################################################
item_infos=<a rel="facebox" href="(/alacarta/player/\d+.html)"><img src="(/resources/[^"]+)" alt="([^"]+)">.*?<p>([^<]+)</p>.*?((\d\d/\d\d/\d\d\d\d)).*?(\d\d*\d*).*?(\d+)
item_order=url|icon|title|spot|genre|date|minutes|seconds
item_info_name=icon
item_info_build=http://www.rtve.es%s
item_info_name=title.append.append
item_info_from=seconds
item_info_build=:%s")
item_info_name=title.append
item_info_from=minutes
item_info_build= (%s
item_info_name=type
item_info_build=video
item_url_build=http://www.rtve.es%s
########################################################
# Categories
########################################################
item_infos=<li class="[Ct][To][^"]+">[^<]+<a href="(/alacarta/[^"]+)" alt="[^"]+" title="([LT][ao][^"]+)">[^<]+</a>[^<]+</li>
item_order=url|title
item_skill=directory
item_curr=<li class="[Ct][To][^"]+">[^<]+<span class="selected">([LT][ao][^<]+)</span>[^<]+</li>
item_info_name=title
item_info_build=video.monkey.locale|30104
item_info_name=icon
item_info_build=star.png
item_url_build=http://www.rtve.es%s
########################################################
item_infos=<li.*?>[^<]+<a href="(/alacarta/[^"]+)">([^<]+)</a>[^<]+</li>
item_order=url|title
item_skill=directory
item_curr=class="selecte*d*">.+?<span>([^<]+)</span>.+?</li>
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=http://www.rtve.es%s
########################################################
# Next
########################################################
item_infos=<a title="Adelante" href=".+?(page=\d+)'">
item_order=url
item_skill=space|lock|param
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=%s
########################################################
