########################################################
# ZDF mediathek VideoPortal
########################################################
start=http://www.zdf.de/ZDFmediathek/hauptnavigation/startseite?flash=off
catcher=zdf.de
player=mplayer
skill=nodownload
########################################################
# Videos
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/>[^"]+</a>[^"]+</div>[^"]+<div class="text">[^"]+<p class="grey"><a href="[^"]+">([^"]+), (\d+[.]\d+[.]\d+)</a></p>[^"]+p><b><a href="(/ZDFmediathek/[^"]+)">([^"]+)<br />&nbsp;</a></b></p>[^"]+p class="grey"><a href="[^"]+">VIDEO, ([^"]+)</a></p>
item_order=icon|genre|date|url|title|duration
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_info_name=type
item_info_build=video
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/></a>[^"]+</div>[^"]+<div class="text">[^"]+<p class="grey"><a href="(/ZDFmediathek/beitrag/live/[^"]+)">(\d+[.]\d+ - \d+[.]\d+), ([^"]+)</a></p>[^"]+<p><b><a href="[^"]+">([^"]+)<br />
item_order=icon|url|title.append|genre|title
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/></a>[^"]+</div>[^"]+<div class="text">[^"]+<p class="grey"><a href="(/ZDFmediathek/beitrag/live/[^"]+)"><span class="orange">(live[^"]+)</span>, ([^"]+)</a></p>[^"]+<p><b><a href="[^"]+">([^"]+)<br />
item_order=icon|url|title.append|genre|title
item_skill=space
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_info_name=title.append
item_info_build= (%s)
item_info_name=type
item_info_build=video
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(http://www.zdf.de/ZDFmediathek/contentblob/[^"]+)" width="[^"]+" height="[^"]+"/></a>.+?<p class="grey"><a href="[^"]+">([^"]+), (\d+[.]\d+[.]\d+)[^"]+</a></p>.+?<p><b><a href="(/ZDFmediathek/beitrag/video/[^"]+)">([^"]+)<br />&nbsp;</a></b></p>.+?<p class="grey"><a href="[^"]+"/>VIDEO, ([^"]+)</a></p>
item_order=icon|genre|date|url|title|duration
item_info_name=type
item_info_build=video
item_url_build=http://www.zdf.de%s
########################################################
# Categories
########################################################
item_infos=<a href="(/ZDFmediathek/hauptnavigation/[^"]+)">(Nachrichten|Sendung verpasst[?]|Live|Sendungen A-Z|Rubriken|Themen)</a>
item_order=url|title
item_skill=directory
item_info_name=title
item_info_build=video.monkey.locale|30100
item_info_name=icon
item_info_build=category.png
item_url_build=http://www.zdf.de%s
########################################################
# Subcategories
########################################################
item_infos=<a href="(/ZDFmediathek/hauptnavigation/[^"]+)">- ([^"]+)</a>
item_order=url|title
item_skill=directory
item_curr=<a href="/ZDFmediathek/hauptnavigation/[^"]+" class="[^"]+">- ([^"]+)</a>
item_info_name=title
item_info_build=video.monkey.locale|30109
item_info_name=icon
item_info_build=sorting.png
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/></a>.+?<a href="[^"]+">([^"]+|)</a>.+?p><b><a href="(/ZDFmediathek/kanaluebersicht/[^"]+)">([^"]+)<br />.+?>(\d+[^"]+) ZUR SENDUNG</a></p>
item_order=icon|genre|url|title|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/></a>.+?<a href="(/ZDFmediathek/kanaluebersicht/[^"]+)">([^"]+)<br />&nbsp;</a></b></p>.+?<p class="grey"><a href="[^"]+">(\d+[^"]+) ZUR RUBRIK</a></p>
item_order=icon|url|title|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_url_build=http://www.zdf.de%s
########################################################
item_infos=<img src="(/ZDFmediathek/contentblob/[^"]+)" title="[^"]+" alt=""/></a>[^"]+</div>[^"]+<div class="text">[^"]+	<p class="grey"><a href="[^"]*">([^"]+|)</a></p>[^"]+<a href="(/ZDFmediathek/kanaluebersicht/[^"]+)">([^"]+)<br />&nbsp;</a></b></p>[^"]+<p class="grey"><a href="[^"]+">(\d+[^"]+) ZUM THEMA</a></p>
item_order=icon|genre|url|title|title.append
item_skill=rss
item_info_name=title.append
item_info_build= (%s)
item_info_name=icon
item_info_build=http://www.zdf.de%s
item_url_build=http://www.zdf.de%s
########################################################
# More
########################################################
item_infos=<a href="(/ZDFmediathek/[^"]+)" class="weitereBeitraege"
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=Weitere Beiträge
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.zdf.de%s
########################################################
# Next
########################################################
item_infos=<a href="(/ZDFmediathek/[^"]+)" class="forward">Weiter</a></span>
item_order=url
item_skill=space|lock
item_info_name=title
item_info_build=video.monkey.locale|30103
item_info_name=icon
item_info_build=next.png
item_url_build=http://www.zdf.de%s
########################################################
# Search
########################################################
title=video.monkey.locale|30102
type=search
icon=search.png
url=http://www.zdf.de/ZDFmediathek/suche?flash=off&sucheText=%s&sucheBtn.x=33&sucheBtn.y=6
########################################################
