<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

    <!-- Main menu -->
    <category label="30000">
        <!-- Hide main menu categories -->
        <setting label="30010" type="lsep"/>
        <setting label="30020" type="bool" id="main_menu.fr" default="true"/>
        <setting label="30021" type="bool" id="main_menu.be" default="true"/>
        <setting label="30023" type="bool" id="main_menu.eu" default="true"/>
        <setting label="30024" type="bool" id="main_menu.uk" default="true"/>
        <setting label="30026" type="bool" id="main_menu.ws" default="true"/>
    </category>


    <!-- Channels -->
    <category label="30001">
        <!-- Hide channels from categories -->
        <setting label="30011" type="lsep"/>

        <setting label="30020" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30020" type="bool" id="main_menu.fr" default="true" visible="false"/>

            <setting label="TF1" type="bool" id="channels.fr.tf1.tf1" default="true" visible="eq(-1,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.tf1.order" default="1"/>

            <setting label="France 2" type="bool" id="channels.fr.pluzz.france2" default="true" visible="eq(-3,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.france2.order" default="2"/>

            <setting label="France 3" type="bool" id="channels.fr.pluzz.france3" default="true" visible="eq(-5,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.france3.order" default="3"/>

            <setting label="Canal +" type="bool" id="channels.fr.groupecanal.cplus" default="true" visible="eq(-7,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.groupecanal.cplus.order" default="4"/>

            <setting label="France 5" type="bool" id="channels.fr.pluzz.france5" default="true" visible="eq(-9,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.france5.order" default="5"/>

            <setting label="M6" type="bool" id="channels.fr.6play.m6" default="true" visible="eq(-11,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.m6.order" default="6"/>

            <setting label="C8" type="bool" id="channels.fr.groupecanal.c8" default="true" visible="eq(-13,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.groupecanal.c8.order" default="7"/>

            <setting label="W9" type="bool" id="channels.fr.6play.w9" default="true" visible="eq(-15,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.w9.order" default="8"/>

            <setting label="TMC" type="bool" id="channels.fr.tf1.tmc" default="true" visible="eq(-17,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.tmc.order" default="9"/>

            <setting label="NT1" type="bool" id="channels.fr.tf1.nt1" default="true" visible="eq(-19,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.nt1.order" default="10"/>

            <setting label="NRJ 12" type="bool" id="channels.fr.nrj.nrj12" default="true" visible="eq(-21,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.nrj.nrj12.order" default="11"/>

            <setting label="France 4" type="bool" id="channels.fr.pluzz.france4" default="true" visible="eq(-23,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.france4.order" default="12"/>

            <setting label="BFM TV" type="bool" id="channels.fr.bfmtv.bfmtv" default="true" visible="eq(-25,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.bfmtv.bfmtv.order" default="13"/>

            <setting label="CNews" type="bool" id="channels.fr.groupecanal.cnews" default="true" visible="eq(-27,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.groupecanal.cnews.order" default="14"/>

            <setting label="CStar" type="bool" id="channels.fr.groupecanal.cstar" default="true" visible="eq(-29,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.groupecanal.cstar.order" default="15"/>

            <setting label="Gulli" type="bool" id="channels.fr.gulli.gulli" default="true" visible="eq(-31,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.gulli.gulli.order" default="16"/>

            <setting label="France Ô" type="bool" id="channels.fr.pluzz.franceo" default="true" visible="eq(-33,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.franceo.order" default="17"/>

            <setting label="HD1" type="bool" id="channels.fr.tf1.hd1" default="true" visible="eq(-35,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.hd1.order" default="18"/>

            <setting label="L'Équipe" type="bool" id="channels.fr.lequipe.lequipe" default="true" visible="eq(-37,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.lequipe.lequipe.order" default="19"/>

            <setting label="6ter" type="bool" id="channels.fr.6play.6ter" default="true" visible="eq(-39,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.6ter.order" default="20"/>

            <setting label="Numéro 23" type="bool" id="channels.fr.numero23.numero23" default="true" visible="eq(-41,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.numero23.numero23.order" default="21"/>

            <setting label="Chérie 25" type="bool" id="channels.fr.nrj.cherie25" default="true" visible="eq(-43,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.nrj.cherie25.order" default="22"/>

            <setting label="La 1ère (Outre-Mer)" type="bool" id="channels.fr.pluzz.la_1ere" default="true" visible="eq(-45,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.la_1ere.order" default="23"/>

             <setting label="France Info" type="bool" id="channels.fr.pluzz.franceinfo" default="true" visible="eq(-47,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.pluzz.franceinfo.order" default="24"/>

            <setting label="BFM Business" type="bool" id="channels.fr.bfmtv.bfmbusiness" default="true" visible="eq(-49,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.bfmtv.bfmbusiness.order" default="25"/>

            <setting label="RMC" type="bool" id="channels.fr.bfmtv.rmc" default="true" visible="eq(-51,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.bfmtv.rmc.order" default="26"/>

            <setting label="01Net TV" type="bool" id="channels.fr.bfmtv.01net" default="true" visible="eq(-53,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.bfmtv.01net.order" default="27"/>

            <setting label="Tfou (MYTF1)" type="bool" id="channels.fr.tf1.tfou" default="true" visible="eq(-55,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.tfou.order" default="28"/>

            <setting label="Xtra (MYTF1)" type="bool" id="channels.fr.tf1.xtra" default="true" visible="eq(-57,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.xtra.order" default="29"/>

            <setting label="LCI" type="bool" id="channels.fr.tf1.lci" default="true" visible="eq(-59,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.tf1.lci.order" default="30"/>

            <setting label="LCP Assemblée Nationale" type="bool" id="channels.fr.lcp.lcp" default="true" visible="eq(-61,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.lcp.lcp.order" default="31"/>

            <setting label="RMC Découverte HD24" type="bool" id="channels.fr.bfmtv.rmcdecouverte" default="true" visible="eq(-63,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.bfmtv.rmcdecouverte.order" default="32"/>

            <setting label="Stories (6play)" type="bool" id="channels.fr.6play.stories" default="true" visible="eq(-65,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.stories.order" default="33"/>

            <setting label="Bruce (6play)" type="bool" id="channels.fr.6play.bruce" default="true" visible="eq(-67,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.bruce.order" default="34"/>

            <setting label="Crazy Kitchen (6play)" type="bool" id="channels.fr.6play.crazy_kitchen" default="true" visible="eq(-69,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.crazy_kitchen.order" default="35"/>

            <setting label="Home Time (6play)" type="bool" id="channels.fr.6play.home" default="true" visible="eq(-71,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.home.order" default="36"/>

            <setting label="Sixième Style (6play)" type="bool" id="channels.fr.6play.styles" default="true" visible="eq(-73,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.styles.order" default="37"/>

            <setting label="Comic (6play)" type="bool" id="channels.fr.6play.comedy" default="true" visible="eq(-75,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.comedy.order" default="38"/>

            <setting label="France24" type="bool" id="channels.fr.france24.france24" default="true" visible="eq(-77,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.france24.france24.order" default="39"/>

            <setting label="Public Sénat" type="bool" id="channels.fr.publicsenat.publicsenat" default="true" visible="eq(-79,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.publicsenat.publicsenat.order" default="40"/>

            <!--<setting label="Teva" type="bool" id="channels.fr.6play.teva" default="true" visible="eq(-81,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.teva.order" default="41"/>

            <setting label="Paris Première" type="bool" id="channels.fr.6play.parispremiere" default="true" visible="eq(-83,true)"/>
            <setting label="" type="number" visible="false" id="channels.fr.6play.parispremiere.order" default="42"/>-->

        <setting label="30021" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30021" type="bool" id="main_menu.be" default="true" visible="false"/>

            <setting label="RTBF Auvio (La Une, La deux, La Trois, ...)" type="bool" id="channels.be.rtbf.auvio" default="true" visible="eq(-1,true)"/>
            <setting label="" type="number" visible="false" id="channels.be.rtbf.auvio.order" default="1"/>

        <setting label="30023" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30023" type="bool" id="main_menu.eu" default="true" visible="false"/>

            <setting label="Euronews" type="bool" id="channels.eu.euronews.euronews" default="true" visible="eq(-1,true)"/>
            <setting label="" type="number" visible="false" id="channels.eu.euronews.euronews.order" default="1"/>

            <setting label="Arte" type="bool" id="channels.eu.arte.arte" default="true" visible="eq(-3,true)"/>
            <setting label="" type="number" visible="false" id="channels.eu.arte.arte.order" default="2"/>

        <setting label="30024" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30024" type="bool" id="main_menu.uk" default="true" visible="false"/>

            <setting label="Blaze" type="bool" id="channels.uk.blaze.blaze" default="true" visible="eq(-1,true)"/>
            <setting label="" type="number" visible="false" id="channels.uk.blaze.blaze.order" default="1"/>

            <setting label="Dave" type="bool" id="channels.uk.uktvplay.dave" default="true" visible="eq(-3,true)"/>
            <setting label="" type="number" visible="false" id="channels.uk.uktvplay.dave.order" default="2"/>

            <setting label="Really" type="bool" id="channels.uk.uktvplay.really" default="true" visible="eq(-5,true)"/>
            <setting label="" type="number" visible="false" id="channels.uk.uktvplay.really.order" default="3"/>

            <setting label="Yesterday" type="bool" id="channels.uk.uktvplay.yesterday" default="true" visible="eq(-7,true)"/>
            <setting label="" type="number" visible="false" id="channels.uk.uktvplay.yesterday.order" default="4"/>

            <setting label="Drama" type="bool" id="channels.uk.uktvplay.drama" default="true" visible="eq(-9,true)"/>
            <setting label="" type="number" visible="false" id="channels.uk.uktvplay.drama.order" default="5"/>

        <setting label="30026" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30026" type="bool" id="main_menu.ws" default="true" visible="false"/>

            <setting label="Allociné" type="bool" id="channels.ws.allocine.allocine" default="true" visible="eq(-1,true)"/>
            <setting label="" type="number" visible="false" id="channels.ws.allocine.allocine.order" default="1"/>

            <setting label="Au pays des Têtes à claques" type="bool" id="channels.ws.tetesaclaques.tetesaclaques" default="true" visible="eq(-3,true)"/>
            <setting label="" type="number" visible="false" id="channels.ws.tetesaclaques.tetesaclaques.order" default="2"/>

    </category>

    <!-- Quality and Content (and also hidden settings) -->
    <category label="30002">

        <setting label="30070" type="lsep" />
            <setting label="30087" type="labelenum" id="quality" values="BEST|DEFAULT|DIALOG"/>

        <setting label="30071" type="lsep" />

            <setting label="30020" type="lsep" subsetting="true" visible="eq(1,true)"/>
            <setting label="30020" type="bool" id="main_menu.fr" default="true" visible="false"/>

                <setting label="30081" type="labelenum" id="channels.fr.france24.france24.language" visible="eq(-1,true)" values="FR|EN|AR|ES"/>

            <setting label="30023" type="lsep" subsetting="true" visible="eq(1,true)"/>
            <setting label="30023" type="bool" id="main_menu.eu" default="true" visible="false"/>

                <setting label="30080" type="labelenum" id="channels.eu.arte.arte.language" visible="eq(-1,true)" values="FR|DE"/>
                <setting label="30082" type="labelenum" id="channels.eu.euronews.euronews.language" visible="eq(-2,true)" values="FR|EN|AR|DE|IT|ES|PT|RU|TR|FA|GR|HU"/>

            <setting label="" type="bool" id="show_hidden_items_information" default="true" visible="false"/>
    </category>

    <!-- Download ... -->
    <category label="30003">
        <setting label="30012" type="lsep"/>
        <setting label="30200" type="folder" id="dlFolder" source="auto" option="writeable"/>
    </category>

    <!-- Account ... -->
    <category label="30004">

        <setting label="30020" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30020" type="bool" id="main_menu.fr" default="true" visible="false"/>

            <setting label="NRJ Login" type="text" id="channels.fr.nrj.login" visible="eq(-1,true)" defaut=""/>
            <setting label="NRJ Password" type="text" id="channels.fr.nrj.password" option="hidden" visible="eq(-2,true)" defaut=""/>

        <setting label="30024" type="lsep" subsetting="true" visible="eq(1,true)"/>
        <setting label="30024" type="bool" id="main_menu.uk" default="true" visible="false"/>

            <setting label="UKTVPlay Login" type="text" id="channels.uk.uktvplay.login" visible="eq(-1,true)" defaut=""/>
            <setting label="UKTVPlay Password" type="text" id="channels.uk.uktvplay.password" option="hidden" visible="eq(-2,true)" defaut=""/>

    </category>

</settings>
