<?xml version="1.0" encoding="utf-8" standalone="yes"?>

<settings>
    <category label="1000">
		<setting id="oauthkeydescr" type="text"  label="2004" default="" />
        <setting id="oauthkey" type="text"  label="2003" default="" />
        <setting id="uniqueid" type="text"  label="2005" default="" />
        <setting type="sep" />
        <setting id="download_dir" type="folder" label="2002" default="" />
    </category>
</settings>