<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30100">
        <setting label="30101" type="text" id="bluetoothctl_path" default="/usr/bin/bluetoothctl"/>
        <setting label="30102" type="number" id="bluetoothctl_timeout" default="5"/>
    </category>
</settings>
