<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32000">
        <setting id="quality" type="enum" label="32001" default="2" lvalues="32111|32112|32113"/>
        <setting id="preference" type="enum" label="32002" default="0" lvalues="32121|32122"/>
       	<setting id="prefix" type="bool" label="32003" default="true" />
	<setting id="page_size" type="number" label="32004" default="50" />
    </category>
</settings>
