<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- # Copyright 2011 Joachim Basmaison, Cyril Leclerc # # This file is part 
	of xbmc-qobuz. # # xbmc-qobuz is free software: you can redistribute it and/or 
	modify # it under the terms of the GNU General Public License as published 
	by # the Free Software Foundation, either version 3 of the License, or # 
	(at your option) any later version. # # xbmc-qobuz is distributed in the 
	hope that it will be useful, # but WITHOUT ANY WARRANTY; without even the 
	implied warranty of # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the # GNU General Public License for more details. # # You should have 
	received a copy of the GNU General Public License # along with xbmc-qobuz. 
	If not, see <http://www.gnu.org/licenses/>. -->
<settings>
	<!-- Credentials -->
	<category label="30149">
		<setting id="username" type="text" label="30147" default="" />
		<setting id="password" type="text" option="hidden" label="30148"
			default="" />
		<setting type="sep" />
		<setting id="streamtype" label="30124" type="labelenum"
			values="flac|mp3" default="flac" />
		<setting id="hires_enabled" label="30193" type="bool" default="false" />
		<setting type="sep"/>
		<setting id="pagination_limit" type="labelenum" label="30155"
			default="100" values="6|12|25|50|100|500|1000|5000|10000" />

	</category>
	
	<!-- Options -->
	<category label="30115">

		<setting type="sep" />
		<setting id="cache_duration_long" type="labelenum" label="30109"
			default="1440" values="0|30|60|120|1440|10080|40320" />
		<setting id="cache_duration_middle" type="labelenum" label="30111"
			default="770" values="0|5|10|30|60|770|1440|10080" />

		<setting type="sep" />
		<setting id="image_default_size" type="labelenum" 
		    label="Image default size"
            default="large" values="thumbnail|small|large|xlarge" />
        <setting id="notification_playingsong" label="30142" type="bool"
			default="false" />
	</category>
	
	<!-- Other -->
	<category label="30152">
		<setting id="enable_scan_feature" label="30154" type="bool" default="true" />
		<!-- <setting id="resolver_enabled" label="33000" type="bool" default="true" 
			/> -->
		<setting id="debug" label="debug (xbmc.log, activated via system menu)" type="bool" default="false" />
		<setting id="contextmenu_replaceitems" label="Only qobuz context menu" type="bool" default="false" />
<!-- 		<setting id="userplaylists_display_cover" label="(i8n) Playlist - show cover"
			type="bool" default="true" /> -->
		<setting id="show_recommendations" type="bool" default="true" label="30153" option="" />
		<setting id="search_enabled" label="30135" type="bool" default="true" />
		
	    <setting id="item_default_color" label="30128" type="text" default="FFDB7656" />
	    <setting id="item_section_color" label="30130" type="text" default="FF56BBDB" />
	    <setting id="item_section_format" label="30131" type="text" default=".o[ %s ]o." />
	    <setting id="item_caution_color" label="30129" type="text"
            default="FFDBB956" />
	</category>
	<setting id="warn_free_account" type="bool" default="true"
		option="hidden" />

</settings>
