<!-- # Copyright 2011 Joachim Basmaison, Cyril Leclerc # # This file is part 
	of xbmc-qobuz. # # xbmc-qobuz is free software: you can redistribute it and/or 
	modify # it under the terms of the GNU General Public License as published 
	by # the Free Software Foundation, either version 3 of the License, or # 
	(at your option) any later version. # # xbmc-qobuz is distributed in the 
	hope that it will be useful, # but WITHOUT ANY WARRANTY; without even the 
	implied warranty of # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
	See the # GNU General Public License for more details. # # You should have 
	received a copy of the GNU General Public License # along with xbmc-qobuz. 
	If not, see <http://www.gnu.org/licenses/>. -->
<settings>
	<!-- Credentials -->
	<category label="38000">
		<setting id="username" type="text" label="37000" default="" />
		<setting id="password" type="text" option="hidden" label="37001"
			default="" />
	</category>
	
	<!-- Options -->
	<category label="38001">
		<setting id="streamtype" label="32000" type="labelenum"
			values="flac|mp3" default="flac" />
		<setting id="pagination_limit" type="labelenum" label="38006"
			default="100" values="6|12|25|50|100|500|1000|5000|10000" />
		<setting type="sep" />
		<setting id="cache_duration_long" type="labelenum" label="31001"
			default="1440" values="0|30|60|120|1440|10080|40320" />
		<setting id="cache_duration_middle" type="labelenum" label="31002"
			default="770" values="0|5|10|30|60|770|1440|10080" />
		<setting type="sep"/>
		<setting id="notification_playingsong" label="36003" type="bool"
			default="false" />
		<setting id="image_default_size" type="labelenum" 
		    label="Image default size"
            default="large" values="thumbnail|small|large|" />
        
	</category>
	<!-- Notification -->
	<!-- <category label="36002"> </category> -->

	<!-- Display -->
	<!-- <category label="33101">
 		<setting id="color_item" label="33102" type="text" default="FF59A9C5" />
		<setting id="color_item_caution" label="33103" type="text"
			default="FFFF0000" />
		<setting id="item_section_color" label="33104"
			type="text" default="FF59A0FF" />
		<setting id="item_section_format" label="33105"
			type="text" default=".o[ %s ]o." />
		<setting id="view_navigation" label="View navigation"
            type="text" default="bigicon" /> 
	</category> -->
	
	<!-- Other -->
	<category label="38003">
		<!-- <setting id="show_recommendations" label="38004" type="bool" default="true" 
			/> -->
		<setting id="enable_scan_feature" label="38005" type="bool" default="false" />
		<!-- <setting id="resolver_enabled" label="33000" type="bool" default="true" 
			/> -->
		<setting id="debug" label="Debug" type="bool" default="false" />
		<setting id="contextmenu_replaceitems" label="Only qobuz context menu" type="bool" default="false" />
<!-- 		<setting id="userplaylists_display_cover" label="(i8n) Playlist - show cover"
			type="bool" default="true" /> -->
		<setting id="show_recommendations" type="bool" default="true" label="42200" option="" />
		<setting id="search_enabled" label="35000" type="bool" default="true" />
	</category>
	<setting id="warn_free_account" type="bool" default="true"
		option="hidden" />

</settings>
