<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting label="31001" type="text" id="username" default="admin"/>
        <setting label="31002" type="text" id="password" option="hidden"  default="admin"/>
        <setting type="sep"/>
        <setting label="31003" type="text" id="host" default="isy"/>
        <setting label="31004" type="text" id="port" default="80"/>
        <setting label="31005" type="bool" id="usehttps" default="false"/>
    </category>
</settings>