<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting label="30101" type="text" id="username" default="admin"/>
        <setting label="30102" type="text" id="password" option="hidden"  default="admin"/>
        <setting type="sep"/>
        <setting label="30103" type="text" id="host" default="isy"/>
        <setting label="30104" type="text" id="port" default="80"/>
        <setting label="30105" type="bool" id="usehttps" default="false"/>
    </category>
</settings>
