<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting id="username" type="text" label="30000" />
    <setting id="password" type="text" option="hidden" label="30001" />
	<setting id="server" type="enum" label="30010" default="0" lvalues="30154|30155"/>
	<setting id="region" type="enum" label="30149" default="0"
		lvalues="30150|30151|30152|30153" />
	<setting id="quality" type="enum" label="Качество видео" default="0" lvalues="30156|30157"/>
	<setting id="resolution" type="enum" label="Разрешение экрана" default="0" lvalues="30158|30159|30160|30161"/>	
</settings>