<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="33000">
        <setting id="autoplay" type="bool" label="33001" default="true" />
        <setting id="display_locked" type="bool" label="33002" default="false" />
        <setting id="getmeta" type="bool" label="33003" default="true" />
    </category>
</settings>