<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="30010" />
    <setting id="custom_file_extensions" type="text" label="30011" default="mpg, mpeg, avi, flv, wmv, mkv, 264, 3g2, 3gp, ifo, mp4, mov, iso, ogm" />
    <setting id="custom_log_enabled" type="bool" label="30012" default="false" />
	<setting id="log_file_name" type="folder" label="30013" default="" />
	<setting id="blacklist" type="text" label="30014" default="sample.,-trailer." />
    <setting id="debug_log_enabled" type="bool" label="30015" default="false" />
</settings>

