<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30014">
		<setting id="ipaddress" type="text" label="30000" default="&lt;none&gt;" visible="true" enable="true" />
		<setting id="port" type="text" label="30001" default="8096" visible="true" enable="true" />
		<setting id="use_https" type="bool" label="30002" default="false" visible="true" enable="true" />
		<setting id="verify_cert" type="bool" label="30003" default="false" visible="true" enable="true" />
        <setting label="30011" type="action" action="RunScript(plugin.video.embycon,0,?mode=DETECT_SERVER_USER)" option="close"/>
		<setting type="sep" />
		<setting id="username" type="text" label="30024" />
		<setting id="password" type="text" option="hidden" label="30025" />
		<setting label="30012" type="action" action="RunScript(plugin.video.embycon,0,?mode=CHANGE_USER)" option="close"/>
        <setting id="deviceName" type="text" label="30016" default="EmbyCon" visible="true" enable="true" />
	</category>
	<category label="30207">
		<setting id="playback_type" type="select" label="30206" lvalues="30209|30210|30211" default="1" />
		<setting label="30209" type="lsep"/>
		<setting type="sep" />
		<setting id="smbusername" type="text" label="30007" default="" enable="true" visible="true"/>
		<setting id="smbpassword" type="text" label="30008" default="" option="hidden" enable="true" visible="true"/>
		<setting label="30211" type="lsep"/>
		<setting type="sep" />
		<setting id="playback_bitrate" type="slider" label="30208" default="6000" range="400,100,10000" option="int" visible="true"/>
		<setting id="playback_max_width" type="select" label="30212" values="640|720|1024|1280|1440|1600|1920|2600|4096" default="1920" visible="true"/>
		<setting id="playback_video_force_8" type="bool" label="30213" default="false" visible="true" enable="true"/>
		<setting label="30238" type="lsep"/>
		<setting type="sep" />
		<setting id="h265_action" type="select" label="30236" lvalues="30129|30210|30211" default="0" />
	</category>
	<category label="30214">
		<setting label="30215" type="lsep"/>
		<setting type="sep" />
		<setting id="promptPlayNextEpisodePercentage" type="slider" label="30218" default="100" range="5,1,100" option="int" visible="true"/>
		<setting id="promptPlayNextEpisodePercentage_prompt" type="bool" label="30219" default="true" visible="true" enable="true" />
		<setting id="promptDeleteEpisodePercentage" type="slider" label="30217" default="100" range="5,1,100" option="int" visible="true"/>
		<setting id="promptDeleteMoviePercentage" type="slider" label="30220" default="100" range="5,1,100" option="int" visible="true"/>
		<setting label="30121" type="lsep"/>
		<setting type="sep" />
		<setting id="forceAutoResume" type="bool" label="30322" default="true" visible="true" enable="true" />
		<setting id="jump_back_amount" type="slider" label="30114" default="15" range="0,1,60" option="int" visible="true"/>
		<setting label="30329" type="lsep"/>
		<setting type="sep" />
		<setting id="changeUserOnScreenSaver" type="bool" label="30330" default="false" visible="true" enable="true" />
		<setting id="cacheImagesOnScreenSaver" type="bool" label="30333" default="false" visible="true" enable="true" />
	</category>
	<category label="30110">
		<setting id="addCounts" type="bool" label="30116" default="false" visible="true" enable="true" />
		<setting id="addResumePercent" type="bool" label="30118" default="false" visible="true" enable="true" />
		<setting id="addSubtitleAvailable" type="bool" label="30163" default="false" visible="true" enable="true" />
		<setting id="include_overview" type="bool" label="30181" default="true" visible="true" enable="true" />
		<setting id="include_media" type="bool" label="30182" default="true" visible="true" enable="true" />
		<setting id="include_people" type="bool" label="30183" default="false" visible="true" enable="true" />
		<setting id="hide_unwatched_details" type="bool" label="30023" default="false" visible="true" enable="true" />
		<setting id="flatten_single_season" type="bool" label="30020" default="true" visible="true" enable="true" />
		<setting id="show_all_episodes" type="bool" label="30021" default="true" visible="true" enable="true" />
		<setting id="show_empty_folders" type="bool" label="30328" default="false" visible="true" enable="true" />
		<setting id="moviePageSize" type="slider" label="30331" default="0" range="0,1,100" option="int" visible="true"/>
		<setting id="show_x_filtered_items" type="slider" label="30018" default="20" range="5,1,100" option="int" visible="true"/>
		<setting id="show_latest_unplayed" type="bool" label="30027" default="false" visible="true" enable="true" />
		<setting id="widget_select_action" type="select" label="30026" lvalues="30313|30314" default="0" visible="true"/>
		<setting id="episode_name_format" type="select" label="30019" default="{ItemName}" values="{ItemName}|s{SeasonIndex}e{EpisodeIndex} - {ItemName}|{SeriesName} - s{SeasonIndex}e{EpisodeIndex} - {ItemName}" />
	</category>
	<category label="30022"> <!-- Advanced -->
		<setting id="profile" type="bool" label="30010" default="false" visible="true" enable="true" />
		<setting id="showLoadProgress" type="bool" label="30120" default="false" visible="true" enable="true" />
		<setting id="remoteControl" type="bool" label="30310" default="false" visible="true" enable="true" />
		<setting id="suppressErrors" type="bool" label="30315" default="false" visible="true" enable="true" />
	</category>
</settings>