<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30014">
		<setting id="ipaddress" type="text" label="30000" default="&lt;none&gt;" visible="true" enable="true" />
		<setting id="port" type="text" label="30001" default="8096" visible="true" enable="true" />
		<setting id="use_https" type="bool" label="30002" default="false" visible="true" enable="true" />
		<setting id="verify_cert" type="bool" label="30003" default="false" visible="true" enable="true" />
        <setting label="30011" type="action" action="RunScript(plugin.video.embycon,0,?mode=DETECT_SERVER_USER)" option="close"/>
		<setting type="sep" />
		<setting id="username" type="text" label="30024" />
		<setting id="password" type="text" option="hidden" label="30025" />
		<setting label="30012" type="action" action="RunScript(plugin.video.embycon,0,?mode=CHANGE_USER)" option="close"/>
        <setting id="deviceName" type="text" label="30016" default="EmbyCon" visible="true" enable="true" />
	</category>
	<category label="30207">
		<setting id="playback_type" type="enum" label="30206" lvalues="30209|30210|30211" default="1" />
		<setting label="30209" type="lsep"/>
		<setting type="sep" />
		<setting id="smbusername" type="text" label="30007" default="" enable="true" visible="true"/>
		<setting id="smbpassword" type="text" label="30008" default="" option="hidden" enable="true" visible="true"/>
		<setting label="30211" type="lsep"/>
		<setting type="sep" />
		<setting id="playback_bitrate" type="slider" label="30208" default="6000" range="400,100,10000" option="int" visible="true"/>
		<setting id="playback_max_width" type="enum" label="30212" lvalues="640x|720x|1024x|1280x|1440x|1600x|1920x|2600x|4096x" default="6" visible="true"/>
		<setting id="playback_video_force_8" type="bool" label="30213" default="false" visible="true" enable="true"/>
	</category>
	<category label="30214">
		<setting label="30215" type="lsep"/>
		<setting type="sep" />
		<setting id="promptPlayNextEpisodePercentage" type="slider" label="30218" default="100" range="5,1,100" option="int" visible="true"/>
		<setting id="promptDeleteEpisodePercentage" type="slider" label="30217" default="100" range="5,1,100" option="int" visible="true"/>
		<setting id="promptDeleteMoviePercentage" type="slider" label="30220" default="100" range="5,1,100" option="int" visible="true"/>
		<setting label="30121" type="lsep"/>
		<setting type="sep" />
		<setting id="jump_back_amount" type="slider" label="30114" default="15" range="0,1,60" option="int" visible="true"/>
	</category>
	<category label="30110">
		<setting id="showLoadProgress" type="bool" label="30120" default="false" visible="true" enable="true" />
		<setting id="addCounts" type="bool" label="30116" default="true" visible="true" enable="true" />
		<setting id="addSeasonNumber" type="bool" label="30162" default="false" visible="true" enable="true" />        
		<setting id="addEpisodeNumber" type="bool" label="30119" default="true" visible="true" enable="true" />
		<setting id="addResumePercent" type="bool" label="30118" default="true" visible="true" enable="true" />
		<setting id="include_overview" type="bool" label="30181" default="true" visible="true" enable="true" />
		<setting id="include_media" type="bool" label="30182" default="true" visible="true" enable="true" />
		<setting id="include_people" type="bool" label="30183" default="false" visible="true" enable="true" />
		<setting id="show_collections" type="bool" label="30184" default="true" visible="true" enable="true" />
	</category>
	<category label="30022"> <!-- Advanced -->
		<setting id="logLevel" type="enum" label="30004" values="None|Info|Debug" default="0" />
		<setting id="profile" type="bool" label="30010" default="false" visible="true" enable="true" />
		<setting id="cacheEmbyData" type="bool" label="30138" default="false" visible="true" enable="true" />
	</category>
</settings>