<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="31000">
		<setting label="40010" type="lsep" />
		<setting id="smode" type="enum" lvalues="40012|40013" label="40011" default="0" />
		<setting id="smirror" type="enum" lvalues="45002|45003|45004|45005|45006|45007" label="45000" default="5" />
		<setting id="sid_path" type="folder" source="audio" option="" label="40000" default="" />
	</category>
	
	<category label="31001">
		<setting label="40015" type="lsep" />	
		<setting id="delimit" type="enum" lvalues="40002|40003|40004|40005|40006|40007|40008" label="40001" default="1" />
		<setting label="46000" type="lsep" />
		<setting id="fv_musicians" type="enum" lvalues="46004|46005" label="46001" default="0" />
		<setting id="fv_games" type="enum" lvalues="46004|46005" label="46002" default="1" />
		<setting id="fv_demos" type="enum" lvalues="46004|46005" label="46003" default="0" />
		<setting id="fv_search_file" type="enum" lvalues="46004|46005" label="46006" default="0" />
		<setting id="fv_search_artist" type="enum" lvalues="46004|46005" label="46007" default="0" />
		<setting id="fv_search_title" type="enum" lvalues="46004|46005" label="46008" default="1" />
	</category>
	
	<category label="31003">
		<setting label="41000" type="lsep" />
		<setting id="ats_musicians" type="enum" lvalues="41005|41004" label="41003" default="0" />
		<setting id="atd_musicians" type="enum" lvalues="41007|41008" label="41006" default="0" />
		<setting label="41001" type="lsep" />
		<setting id="ats_games" type="enum" lvalues="41005|41004" label="41003" default="1" />
		<setting id="atd_games" type="enum" lvalues="41007|41008" label="41006" default="1" />
		<setting label="41002" type="lsep" />
		<setting id="ats_demos" type="enum" lvalues="41005|41004" label="41003" default="0" />
		<setting id="atd_demos" type="enum" lvalues="41007|41008" label="41006" default="0" />	
		
	</category>
	
	<category label="31004">
		<setting label="41025" type="lsep" />
		<setting id="ats_search_file" type="enum" lvalues="41005|41004" label="41003" default="0" />
		<setting id="atd_search_file" type="enum" lvalues="41007|41008" label="41006" default="0" />	
		<setting label="41026" type="lsep" />
		<setting id="ats_search_artist" type="enum" lvalues="41005|41004" label="41003" default="0" />
		<setting id="atd_search_artist" type="enum" lvalues="41007|41008" label="41006" default="0" />
		<setting label="41027" type="lsep" />
		<setting id="ats_search_title" type="enum" lvalues="41005|41004" label="41003" default="1" />
		<setting id="atd_search_title" type="enum" lvalues="41007|41008" label="41006" default="1" />	
	</category>

	
	<category label="31002">
		<setting label="40014" type="lsep" />
		<setting id="aplay" type="bool" label="40009" default="false" />
		<setting id="splay" type="bool" label="40016" default="false" />
		<setting label="43000" type="lsep" />
		<setting id="sl_mode" type="enum" lvalues="43001|43002" label="43022" default="0" />
		<setting id="sl_custom" type="enum" lvalues="43004|43005|43006|43007|43008|43009|43010|43011|43012|43013|43014|43015|43016|43017|43018|43019|43020|43021" label="43003" default="3" />	
	</category>
	<category label="47000">
		<setting label="47001" type="lsep" />
		<setting id="pctracking" type="bool" label="47002" default="true" />
		<setting id="bcdialogs" type="bool" label="47003" default="true" />
	</category>
</settings>
