<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="General">
    <setting id="username" type="text" label="30100" default="" />
    <setting id="password" type="text" option="hidden" label="30101" default="" />
    <setting id="apikey" type="text" label="30102" default="" />
    <setting id="apisecret" type="text" option="hidden" label="30103" default="" />
    <setting id="stream_mode" type="enum" label="30104" values="RTMP/AMF|RTMP/WEB|HTTP (broken)" />
  </category>
</settings>
