<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30800"> <!-- Credentials -->
        <setting label="30801" type="lsep"/> <!-- VRT NU login -->
        <setting label="30803" help="30804" type="text" id="username"/>
        <setting label="30805" help="30806" type="text" id="password" option="hidden"/>
    </category>
    <category label="30820"> <!-- Interface -->
        <setting label="30821" type="lsep"/> <!-- Features -->
        <setting label="30823" help="30824" type="bool" id="usefavorites" default="true"/>
        <setting label="30825" help="30826" type="bool" id="showfanart" default="true"/>
        <setting label="30827" help="30828" type="bool" id="showpermalink" default="false"/>
        <setting label="30829" type="lsep"/> <!-- Cache -->
        <setting label="30831" help="30832" type="bool" id="usemenucaching" default="true"/>
        <setting label="30833" help="30834" type="bool" id="usehttpcaching" default="true"/>
    </category>
    <category label="30840"> <!-- Playback -->
        <setting label="30841" type="lsep"/>
        <setting label="30843" help="30844" type="bool" id="showsubtitles" default="true"/>
        <setting label="30845" type="lsep"/> <!-- InputStream Adaptive -->
        <setting label="30847" help="30848" type="bool" id="usedrm" default="false"/>
        <setting label="30849" help="30850" type="select" id="max_bandwidth" default="0" values="0|256|512|1024|1536|2048|2560|3072|4096|6144|8192|10240|15360|20480|25600|30720"/>
    </category>
    <category label="30860"> <!--Channels -->
        <setting label="30861" type="lsep"/>
        <setting label="30863" type="bool" id="een" default="true"/> <!-- Eén -->
        <setting label="30864" type="bool" id="canvas" default="true"/> <!-- Canvas -->
        <setting label="30865" type="bool" id="ketnet" default="false"/> <!-- Ketnet -->
        <setting label="30866" type="bool" id="ketnet-jr" default="false"/> <!-- Ketnet Junior -->
        <setting label="30867" type="bool" id="sporza" default="true"/> <!-- Sporza -->
        <setting label="30868" type="bool" id="radio1" default="true"/> <!-- Radio 1 -->
        <setting label="30869" type="bool" id="radio2" default="true"/> <!-- Radio 2 -->
        <setting label="30870" type="bool" id="klara" default="true"/> <!-- Klara -->
        <setting label="30871" type="bool" id="stubru" default="true"/> <!-- Studio Brussel -->
        <setting label="30872" type="bool" id="mnm" default="true"/> <!-- MNM -->
        <setting label="30873" type="bool" id="vrtnws" default="true"/> <!-- VRT NWS -->
        <setting label="30874" type="bool" id="vrtnxt" default="true"/> <!-- VRT NXT -->
    </category>
    <category label="30900"> <!-- Troubleshooting -->
        <setting label="30901" type="lsep"/> <!-- Cache -->
        <setting label="30903" help="30904" type="action" id="clear_tokens" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=clearcookies)"/>
        <setting label="30905" help="30906" type="action" id="refresh_favorites" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=refreshfavorites)"/>
        <setting label="30907" help="30908" type="action" id="invalidate_caches" action="RunPlugin(plugin://plugin.video.vrt.nu/?action=invalidatecaches)"/>
        <setting label="30909" type="lsep"/> <!-- InputStream Adaptive -->
        <setting label="30911" help="30912" type="bool" id="useinputstreamadaptive" default="true" visible="System.HasAddon(inputstream.adaptive)"/>
        <setting label="30913" help="30914" type="action" id="adaptive_settings" option="close" action="Addon.OpenSettings(inputstream.adaptive)" visible="System.HasAddon(inputstream.adaptive)" enable="eq(-1,true)" subsetting="true"/>
        <setting label="30915" help="30916" type="action" id="widevine_install" option="close" action="RunPlugin(plugin://plugin.video.vrt.nu?action=installwidevine)" visible="System.HasAddon(inputstream.adaptive)" enable="eq(-2,true)" subsetting="true"/>
        <setting label="30917" type="lsep"/> <!-- Logging -->
        <setting label="30919" help="30920" type="select" id="max_log_level" values="Quiet|Info|Verbose|Debug" default="Info"/>
    </category>
</settings>
