<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

	<category label="30014"> <!-- MediaBrowser -->
		<setting id="ipaddress" type="text" label="30000" default="&lt;none&gt;" visible="true" enable="true"/>
		<setting id="port" type="text" label="30030" default="8096" visible="true" enable="true"/>
		<setting type="sep" />
		<setting id="username" type="text" label="30024" />
		<setting id="password" type="text" option="hidden" label="30025" />
        <setting id="autoEnterSingle" type="bool" label="30001" default="true" visible="true" enable="true"/>
        <setting id="useSeriesArt" type="bool" label="30039" default="false" visible="true" enable="true"/>
	</category>
    
	<category label="30015"> <!-- Network -->
        <setting id="smbusername" type="text" label="30007" default="" visible="true" enable="true"/>
        <setting id="smbpassword" type="text" label="30008" default="" option="hidden" visible="true" enable="true"/>        
        <setting id="playFromStream" type="bool" label="30002" default="false" visible="true" enable="true"/>
        <setting id="transcode" type="bool" label="30009" default="false" visible="true" enable="true"/>        
	</category>    

	<category label="30110"> <!-- Media Data -->
        <setting id="includeStreamInfo" type="bool" label="30111" default="true" visible="true" enable="true"/>
        <setting id="includePeople" type="bool" label="30112" default="true" visible="true" enable="true"/>
        <setting id="includeOverview" type="bool" label="30113" default="true" visible="true" enable="true"/>    
        <setting id="numRecentMovies" type="number" label="30036" default="20" visible="true" enable="true"/>
        <setting id="numRecentTV" type="number" label="30037" default="20" visible="true" enable="true"/>
        <setting id="resumeJumpBack" type="number" label="30114" default="10" visible="true" enable="true"/>
        <setting id="markPlayedAt" type="number" label="30115" default="90" visible="true" enable="true"/>
        <setting id="addCounts" type="bool" label="30116" default="true" visible="true" enable="true"/>
        <setting id="backgroundRefresh" type="number" label="30117" default="30" visible="true" enable="true"/>
	</category>
    
    <category label="30022" > <!-- Advanced -->
        <setting id="debug" type="bool" label="30004" default="false" />
        <setting id="profile" type="bool" label="30010" default="false" visible="true" enable="true"/>
        <setting id="useJson" type="bool" label="30026" default="false" visible="true" enable="true"/>
    </category>

</settings>