<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category id="default" label="32000">
        <setting label="32001" type="text" id="username" default=""/>
        <setting label="32002" type="text" id="password" default="" option="hidden"/>
        <setting label="32003" type="number" id="postal" default='0'/>
    </category>

    <category id="bandwith" label="32004">
        <setting label="32005" type="select" id="bitrate" values="0|700000|900000|1300000|1800000|7000000"
                 default="1800000"/>
    </category>
</settings>

