<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
	<!-- Main Settings -->
	<category label="30001">
		<setting id="gc_username" type="text" default="" label="30003"/>
		<setting id="gc_password" type="text" default="" option="hidden" label="30004"/>
		<setting id="gc_rogerslogin" type="bool" default="false" label="30031"/>
		<!-- NOTE: When updating this, also update SETTINGS_BITRATES in main.py! -->
		<setting id="preferred_bitrate" type="select" label="30005" lvalues="30006|30007|30008|30009|30010|30011|30012|30013|30014|30015|30016" default="1"/>
	</category>

	<!-- UI Settings -->
	<category label="30002">
		<setting id="team_names" type="select" label="30017" lvalues="30018|30019|30020|30021" default="0"/>
		<setting id="at_instead_of_vs" type="bool" label="30033" default="true"/>
		<setting id="show_scores" type="bool" label="30034" default="false"/>
		<setting id="show_stream_duration" type="bool" label="30064" default="false"/>
	</category>

	<!-- Proxy Settings -->
	<category label="30049">
		<setting id="proxy_enabled" type="bool" label="30050" default="false"/>
		<setting id="proxy_scheme" type="select" label="30051" lvalues="30056|30057" default="http" enable="eq(-1,true)"/>
		<setting id="proxy_host" type="text" label="30052" default="" enable="eq(-2,true)"/>
		<setting id="proxy_port" type="number" label="30053" default="" enable="eq(-3,true)"/>
		<setting type="lsep" label="30058"/>
		<setting id="proxy_username" type="text" label="30054" default="" enable="eq(-5,true)"/>
		<setting id="proxy_password" type="text" label="30055" default="" option="hidden" enable="eq(-6,true)"/>
	</category>
</settings>
